<h4 class="font-weight-bold">ĐỔI MẬT KHẨU</h4>
<hr>
<form [formGroup]="doiMatKhau_Form">
  <mat-form-field class="col-md-12">
    <input matInput placeholder="Mật khẩu mới" required formControlName="matkhaumoi" [type]="hidePwd ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="doiMatKhau_Form.controls.matkhaumoi?.errors?.required && doiMatKhau_Form.controls.matkhaumoi?.touched">
      <strong>Mật khẩu mới không được bỏ trống</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12">
    <input matInput placeholder="Xác nhận lại mật khẩu" required formControlName="xacnhanmatkhau" [type]="hideCPwd ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hideCPwd = !hideCPwd">{{hideCPwd ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="doiMatKhau_Form.controls.xacnhanmatkhau?.errors?.required && doiMatKhau_Form.controls.xacnhanmatkhau?.touched">
      <strong>Xác nhận lại mật khẩu thay đổi</strong>
    </mat-error>
    <!-- <mat-error *ngIf="doiMatKhau_Form.errors?.khongtrung">
      <strong>Hai mật khẩu không trùng nhau</strong>
    </mat-error> -->
    <mat-error *ngIf="cpwd.hasError('invalid')">
      <strong>Hai mật khẩu không trùng nhau</strong>
    </mat-error>
  </mat-form-field>
</form>
<hr>
<div class="row d-flex justify-content-md-end">
  <button mat-button (click)="dialogRef.close()">Hủy</button>
  <button type="submit" [disabled]="doiMatKhau_Form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Đổi Mật Khẩu</button>
</div>
