<div class="row">
  <div class="col-11 mx-auto">
    <mat-card>
      <section>
        <h4 class="font-weight-bold text-left">QUẢN LÝ THÔNG TIN ĐÁNH GIÁ</h4>
        <hr>
        <div class="row">
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlythongbao' ]">
              <mat-card style="height: 15rem">
                <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/ql_ThongBao_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG BÁO</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlythoigiandanhgia' ]">
              <mat-card style="height: 15rem">
                <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/ql_ThoiGianDanhGia_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THỜI GIAN ĐÁNH GIÁ</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlytieuchidanhgia' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/ql_TieuChiDanhGia_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ TIÊU CHÍ ĐÁNH GIÁ</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlynamhochocky' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/ql_NamHoc_HocKy_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ NĂM HỌC - HỌC KỲ</h6>
              </mat-card>
            </a>
          </div>
        </div>

      </section>

      <section>
        <hr>
        <h4 class="font-weight-bold text-left">QUẢN LÝ TÀI KHOẢN NGHƯỜI DÙNG</h4>
        <hr>
        <div class="row">
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlytaikhoan/sinhvien' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/ql_TaiKhoanSV_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ TÀI KHOẢN SINH VIÊN</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlytaikhoan/canbo' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/ql_TaiKhoanCB_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ TÀI KHOẢN CÁN BỘ</h6>
              </mat-card>
            </a>
          </div>
        </div>
      </section>

      <section>
        <hr>
        <h4 class="font-weight-bold text-left">QUẢN LÝ SINH VIÊN</h4>
        <hr>
        <div class="row">
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlysinhvien' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/ql_ThongTin_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN SINH VIÊN</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlythhoctap' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/folder_document_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN TÌNH HÌNH HỌC TẬP</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlykyluat' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/folder_document_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN KỶ LUẬT</h6>
              </mat-card>
            </a>
          </div>
        </div>

      </section>

      <section>
        <hr>
        <h4 class="font-weight-bold text-left">QUẢN LÝ CÁN BỘ</h4>
        <hr>
        <div class="row">
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlycanbo' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/ql_ThongTin_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN CÁN BỘ</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlycovanhoctap' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/folder_document_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN CỐ VẤN HỌC TẬP</h6>
              </mat-card>
            </a>
          </div>
        </div>

      </section>

      <section>
        <hr>
        <h4 class="font-weight-bold text-left">QUẢN LÝ BAN NGÀNH - ĐƠN VỊ</h4>
        <hr>
        <div class="row">
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlykhoa' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/folder_document_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN KHOA</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlybomon' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/folder_document_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN BỘ MÔN</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlynganh' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/folder_document_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN NGÀNH</h6>
              </mat-card>
            </a>
          </div>
          <div class="col-3">
            <a [routerLink]="[ '/trangchu/quanly/quanlylop' ]">
              <mat-card style="height: 15rem">
                 <div class="text-center">
                  <img class="img-thumbnail img-responsive resize-img" src="assets/images/anh-danh-muc/folder_document_img.png" style="width:65%; border: 0;">
                </div>
                <h6 class="font-weight-bold text-center">QUẢN LÝ THÔNG TIN LỚP</h6>
              </mat-card>
            </a>
          </div>
        </div>

      </section>

    </mat-card>

  </div>
</div>
<app-backtotop></app-backtotop>