<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-thong-tin-can-bo></app-thong-tin-can-bo>
    </div>
    <div class="col-md-8">

      <section>
        <ng-container *ngIf="thoigiandanhgia !== null">
          <ng-container *ngFor="let qh of quyenhan">
            <ng-container *ngIf="qh.id_nhomquyen === 6">
              <mat-card>
                <div class="row">
                  <div class="col-4">
                    <a [routerLink]="[ '/trangchu/quanly' ]">
                      <mat-card style="height: 10rem">
                        <div class="text-center">
                          <img class="img-thumbnail img-responsive resize-img" src="assets/images/admin-module.png" style="width:84px; height: 84px; border: 0;">
                        </div>
                        <h6 class="font-weight-bold text-center">Đến trang quản lý</h6>
                      </mat-card>
                    </a>
                  </div>
                  <div class="col-4">
                    <a [routerLink]="[ '/trangchu/canbo/thongke' ]">
                      <mat-card style="height: 10rem">
                        <div class="text-center">
                          <img class="img-thumbnail img-responsive resize-img" src="assets/images/chart.png" style="width:84px; height: 84px; border: 0;">
                        </div>
                        <h6 class="font-weight-bold text-center">Thống Kê</h6>
                      </mat-card>
                    </a>
                  </div>
                </div>
              </mat-card>
            </ng-container>
            <ng-container *ngIf="qh.id_nhomquyen === 3">
              <ng-container *ngIf="tgcvhtdg">
                <mat-card>
                  <h3 class="font-weight-bold">
                    <i class="fas fa-bell"></i> ĐÁNH GIÁ LỚP {{infoLop.tenlop}} </h3>
                  <hr/>
                  <!-- Danh Sách Lớp Học -->
                  <section>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr class="table-primary">
                          <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
                          <th scope="col" class="text-center font-weight-bold" width="45%">Lớp</th>
                          <th scope="col" class="text-center font-weight-bold" width="45%">Tình Trạng</th>
                          <th scope="col" class="text-center font-weight-bold" width="5%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center font-weight-bold">1</td>
                          <td class="text-center font-weight-bold">{{infoLop.tenlop}}</td>
                          <td class="text-center font-weight-bold ">
                            <ng-container *ngIf="trangthai === 0; else elseTemplate">
                              <h5 class="badge badge-pill badge-warning">Chưa Đánh Giá</h5>
                            </ng-container>
                            <ng-template #elseTemplate>
                              <h5 class="badge badge-pill badge-success">Đã Đánh Giá</h5>
                            </ng-template>
                          </td>
                          <td class="text-center font-weight-bold">
                            <a [routerLink]="[ '/trangchu/canbo/cvht/danhsachsinhvien/', infoLop.id ]">
                              <i class="fa fa-eye fa-2x text-warning" aria-hidden="true"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                </mat-card>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="qh.id_nhomquyen === 4">
              <ng-container *ngIf="tghdkdg">
                <mat-card>
                  <h3 class="font-weight-bold">DANH SÁCH CÁC LỚP CỦA KHOA</h3>
                  <hr/>
                  <!-- Danh Sách Lớp Học -->
                  <section>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr class="table-primary">
                          <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
                          <th scope="col" class="text-center font-weight-bold" width="90%">Lớp</th>
                          <th scope="col" class="text-center font-weight-bold" width="5%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let l of DanhSachLop; index as i">
                          <td class="text-center font-weight-bold">{{i+1}}</td>
                          <td class="text-center font-weight-bold">{{l.tenlop}}</td>
                          <td class="text-center font-weight-bold">
                            <span matTooltip="Xem danh sách sinh viên lớp {{l.tenlop}}">
                              <a [routerLink]="[ '/trangchu/canbo/hdkhoa/danhsachsinhvien/', l.id ]">
                                <i class="fa fa-search fa-2x text-warning" aria-hidden="true"></i>
                              </a>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                </mat-card>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="qh.id_nhomquyen === 5">
              <ng-container *ngIf="tghdtdg">
                <mat-card>
                  <h3 class="font-weight-bold">DUYỆT ĐIỂM ĐÁNH GIÁ CỦA CÁC LỚP</h3>
                  <hr/>
                  <a [routerLink]="[ '/trangchu/canbo/hoidongtruong/danhsachlop/']" class="btn btn-sm btn-info">Xem danh sách lớp</a>
                </mat-card>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="qh.id_nhomquyen === 7">
              <ng-container *ngIf="tghdtdg">
                <mat-card>
                  <h3 class="font-weight-bold">XEM KẾT QUẢ ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h3>
                  <hr/>
                  <a [routerLink]="[ '/trangchu/canbo/donvikhac/danhsachlop/']" class="btn btn-sm btn-info">Xem danh sách lớp</a>
                </mat-card>
              </ng-container>
            </ng-container>
          </ng-container>

        </ng-container>
      </section>
      <!-- Thời Gian Đánh Giá -->
      <app-thongbao></app-thongbao>
    </div>
  </div>
</div>
<app-backtotop></app-backtotop>
