<div class="container">
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <div id="luu-y">
    <mat-card>
      <mat-card-header>
        <h5 class="font-weight-bold">Lưu Ý:</h5>
      </mat-card-header>
      <mat-card-content>
        <h6>
          <i class="fas fa-exclamation-circle text-warning"></i> Điểm cá nhân, Điểm lớp và Điểm khoa là điểm đánh giá chưa chính thức</h6>
        <h6>
          <i class="fas fa-exclamation-circle text-warning"></i> Điểm chính thức là điểm mà sau khi Hội Đồng Trường đã duyệt</h6>
        <h6>
          <i class="fas fa-exclamation-circle text-warning"></i> Xếp loại được tính sau khi Hội Đồng Trường đã duyệt</h6>
        <h6>
          <i class="fas fa-exclamation-circle text-warning"></i> Ký hiệu: "-" là đang đợi đánh giá</h6>

      </mat-card-content>
    </mat-card>
    <mat-card>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="5%">#</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="20%">Học Kỳ</th>
            <th scope="col" class="text-center font-weight-bold" colspan="5" width="50%">Điểm</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Xếp Loại</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Tình Trạng</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="5%"></th>
          </tr>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Cá Nhân</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Lớp</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">CVHT</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">HD Khoa</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">HD Trường</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bddg of LichSuDanhGia; index as i">
            <td class="text-center font-weight-bold">{{i+1}}</td>
            <td class="text-center font-weight-bold">{{bddg.mahocky}} | {{bddg.manamhoc}}</td>
            <ng-container *ngIf="bddg.tong_diemdanhgia_sv === null; else elseTemplate">
              <td class="text-center font-weight-bold ">
                -
              </td>
            </ng-container>
            <ng-template #elseTemplate>
              <td class="text-center font-weight-bold">
                <span matTooltip="Xem chi tiết đánh giá">
                  <a (click)="openXemChiTietDanhGia(bddg)">
                    {{bddg.tong_diemdanhgia_sv}}
                  </a>
                </span>
              </td>
            </ng-template>

            <ng-container *ngIf="bddg.tong_diemdanhgia_bancansu === null; else elseTemplate2">
              <td class="text-center font-weight-bold ">
                -
              </td>
            </ng-container>
            <ng-template #elseTemplate2>
              <td class="text-center font-weight-bold">
                <span matTooltip="Xem chi tiết đánh giá">
                  <a (click)="openXemChiTietDanhGia(bddg)">
                    {{bddg.tong_diemdanhgia_bancansu}}
                  </a>
                </span>
              </td>
            </ng-template>

            <ng-container *ngIf="bddg.tong_diemdanhgia_cvht === null; else elseTemplate3">
              <td class="text-center font-weight-bold ">
                -
              </td>
            </ng-container>
            <ng-template #elseTemplate3>
              <td class="text-center font-weight-bold">
                <span matTooltip="Xem chi tiết đánh giá">
                  <a (click)="openXemChiTietDanhGia(bddg)">{{bddg.tong_diemdanhgia_cvht}}</a>
                </span>
              </td>
            </ng-template>

            <ng-container *ngIf="bddg.tong_diemdanhgia_hoidongkhoa === null; else elseTemplate4">
              <td class="text-center font-weight-bold ">
                <!-- <h5 class="badge badge-pill badge-warning">Chờ Đánh Giá</h5> -->
                -
              </td>
            </ng-container>
            <ng-template #elseTemplate4>
              <td class="text-center font-weight-bold">
                <span matTooltip="Xem chi tiết đánh giá">
                  <a (click)="openXemChiTietDanhGia(bddg)">{{bddg.tong_diemdanhgia_hoidongkhoa}}</a>
                </span>
              </td>
            </ng-template>

            <ng-container *ngIf="bddg.tong_diemdanhgia_hoidongtruong === null; else elseTemplate5">
              <td class="text-center font-weight-bold ">
                <!-- <h5 class="badge badge-pill badge-warning">Chờ Đánh Giá</h5> -->
                -
              </td>
            </ng-container>
            <ng-template #elseTemplate5>
              <td class="text-center font-weight-bold">
                <span matTooltip="Xem chi tiết đánh giá">
                  <a (click)="openXemChiTietDanhGia(bddg)">{{bddg.tong_diemdanhgia_hoidongtruong}}</a>
                </span>
              </td>
            </ng-template>

            <ng-container *ngIf="bddg.trangthaichung === 1; else elseTemplate21">
              <ng-container *ngIf="(bddg.tong_diemdanhgia_hoidongtruong >= 90 && bddg.tong_diemdanhgia_hoidongtruong <= 100);else tot">
                <td class="text-center font-weight-bold">
                  <h5 class="badge badge-success">Xuất Sắc</h5>
                </td>
              </ng-container>

              <ng-template #tot>
                <ng-container *ngIf="(bddg.tong_diemdanhgia_hoidongtruong >= 80 && bddg.tong_diemdanhgia_hoidongtruong < 90);else kha">
                  <td class="text-center font-weight-bold">
                    <h5 class="badge badge-primary">Tốt</h5>
                  </td>
                </ng-container>

                <ng-template #kha>
                  <ng-container *ngIf="bddg.tong_diemdanhgia_hoidongtruong >= 65 && bddg.tong_diemdanhgia_hoidongtruong < 80;else trungbinh">
                    <td class="text-center font-weight-bold">
                      <h5 class="badge badge-info">Khá</h5>
                    </td>
                  </ng-container>

                  <ng-template #trungbinh>
                    <ng-container *ngIf="bddg.tong_diemdanhgia_hoidongtruong >= 50 && bddg.tong_diemdanhgia_hoidongtruong < 65;else yeu">
                      <td class="text-center font-weight-bold">
                        <h5 class="badge badge-default">Trung Bình</h5>
                      </td>
                    </ng-container>
                    <ng-template #yeu>
                      <ng-container *ngIf="bddg.tong_diemdanhgia_hoidongtruong >= 35 && bddg.tong_diemdanhgia_hoidongtruong < 50;else kem">
                        <td class="text-center font-weight-bold">
                          <h5 class="badge badge-warning">Yếu</h5>
                        </td>
                      </ng-container>
                      <ng-template #kem>
                        <ng-container *ngIf="bddg.tong_diemdanhgia_hoidongtruong < 35">
                          <td class="text-center font-weight-bold">
                            <h5 class="badge badge-danger">Kém</h5>
                          </td>
                        </ng-container>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-template>

              </ng-template>

            </ng-container>
            <ng-template #elseTemplate21>
              <td class="text-center font-weight-bold">
                <h5 class="badge badge-danger">Chờ Xếp Loại</h5>
              </td>
            </ng-template>

            <ng-container *ngIf="bddg.trangthaichung === 0; else elseTemplate6">
              <ng-container *ngIf="bddg.trangthai_sv === 0; else elseTemplate7">
                <td class="text-center font-weight-bold ">
                  <h5 class="badge badge-pill badge-warning">Chờ Đánh Giá</h5>
                </td>
              </ng-container>
              <ng-template #elseTemplate7>
                <td class="text-center font-weight-bold ">
                  <h5 class="badge badge-pill badge-warning">
                    Chờ Duyệt
                  </h5>
                </td>
              </ng-template>
            </ng-container>

            <ng-template #elseTemplate6>
              <td class="text-center font-weight-bold ">
                <h5 class="badge badge-pill badge-success">Đã Duyệt</h5>
              </td>
            </ng-template>

            <ng-container *ngIf="bddg.trangthai_sv === 1; else elseTemplate8">
              <td class="text-center font-weight-bold">
                <span matTooltip="Xem chi tiết đánh giá">
                  <a (click)="openXemChiTietDanhGia(bddg)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                </span>
                <span matTooltip="Chỉnh sửa đánh giá">
                  <a [routerLink]="['/trangchu/sinhvien/chinhsuadanhgia']">
                    <i class="fas fa-edit"></i>
                  </a>
                </span>
              </td>
            </ng-container>
            <ng-template #elseTemplate8>
              <td class="text-center font-weight-bold">
                <span matTooltip="Đánh giá chi tiết">
                  <a [routerLink]="['/trangchu/sinhvien/danhgia']">
                    <i class="fas fa-edit"></i>
                  </a>
                </span>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
