<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <a class="btn btn-sm btn-success" (click)="backBtn()">
          <i class="fas fa-angle-double-left"></i> Trở lại</a>

        <div class="col-md-3">
          <mat-card>
            <h4 class="font-weight-bold">Khoa:</h4>
            <h5>{{infoKhoa_Nganh_Lop.info.khoaControl}}</h5>
            <br>
            <h4 class="font-weight-bold">Ngành:</h4>
            <h5>{{infoKhoa_Nganh_Lop.info.nganhControl}}</h5>
            <br>
            <h4 class="font-weight-bold">Lớp:</h4>
            <h5>{{infoKhoa_Nganh_Lop.info.lopControl}}</h5>
            <br>
          </mat-card>
        </div>
        <div class="col-md-9">
          <mat-card>
            <h2 class="font-weight-bold">THÊM THÔNG TIN SINH VIÊN MỚI</h2>
            <hr>
            <h4 class="font-weight-bold text-center">THÔNG TIN CƠ BẢN CỦA SINH VIÊN</h4>
            <hr>
            <!--  -->
            <form [formGroup]="infoSinhVien_Form" novalidate>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Mã số sinh viên" maxlength="9" #mssv required formControlName="mssv">
                <mat-hint align="start">
                  <strong>Tối đa 9 chữ số</strong>
                </mat-hint>
                <mat-hint align="end">{{mssv.value.length}} / 9</mat-hint>
                <mat-error *ngIf="infoSinhVien_Form.controls.mssv?.errors?.required && infoSinhVien_Form.controls.mssv?.touched">
                  <strong>Mã số sinh viên không được bỏ trống</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Họ tên sinh viên" formControlName="hoten" required>
                <mat-error *ngIf="infoSinhVien_Form.controls.hoten?.errors?.required && infoSinhVien_Form.controls.hoten?.touched">
                  <strong>Họ tên sinh viên không được bỏ trống </strong>
                </mat-error>
              </mat-form-field>
              <br>
              <div id="gioitinh_svform">
                <label>Giới tính: </label>
                <mat-radio-group formControlName="gioitinh" required>
                  <mat-radio-button value="0">Nam</mat-radio-button>
                  <mat-radio-button value="1">Nữ</mat-radio-button>
                </mat-radio-group>
              </div>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput [matDatepicker]="picker" placeholder="Chọn ngày sinh" formControlName="ngaysinh_tmp" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker startView="multi-year"></mat-datepicker>
              </mat-form-field>
              <br>

              <mat-form-field class="col-md-12">
                <input matInput placeholder="Chứng minh nhân dân" #cmnd maxlength="12" formControlName="cmnd" (keypress)="keyPress($event)"
                  required>
                <mat-hint align="start">
                  <strong>Tối thiểu 9 chữ số - tối đa 12 chữ số</strong>
                </mat-hint>
                <mat-hint align="end">{{cmnd.value.length}} / 12</mat-hint>
                <mat-error *ngIf="infoSinhVien_Form.controls.cmnd?.errors?.required && infoSinhVien_Form.controls.cmnd?.touched">
                  <strong>Chứng minh nhân dân không được bỏ trống</strong>
                </mat-error>
                <mat-error *ngIf="infoSinhVien_Form.controls.cmnd?.errors?.minlength">
                  <strong>Chứng minh nhân dân tối thiểu 9 chữ số</strong>
                </mat-error>

              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Số điện thoại" #sdtcanhan maxlength="11" formControlName="sdt_canhan" (keypress)="keyPress($event)"
                  required>
                <mat-hint align="start">
                  <strong>Tối thiểu 10 số - tối đa 11 số</strong>
                </mat-hint>
                <mat-hint align="end">{{sdtcanhan.value.length}} / 11</mat-hint>
                <mat-error *ngIf="infoSinhVien_Form.controls.sdt_canhan?.errors?.required && infoSinhVien_Form.controls.sdt_canhan?.touched">
                  <strong>Số điện thoại cá nhân không được bỏ trống</strong>
                </mat-error>
                <mat-error *ngIf="infoSinhVien_Form.controls.sdt_canhan?.errors?.minlength">
                  <strong>Số điện thoại cá nhân tối thiểu 10 số</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Số điện thoại gia đình" #sdtgd maxlength="11" formControlName="sdt_gd" (keypress)="keyPress($event)">
                <mat-hint align="start">
                  <strong>Tối thiểu 10 số - tối đa 11 số</strong>
                </mat-hint>
                <mat-hint align="end">{{sdtgd.value.length}} / 11</mat-hint>
                <mat-error *ngIf="infoSinhVien_Form.controls.sdt_gd?.errors?.minlength">
                  <strong>Số điện thoại gia đình tối thiểu 10 số</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="infoSinhVien_Form.controls.email?.errors?.required && infoSinhVien_Form.controls.email?.touched">
                  <strong>Email không được bỏ trống</strong>
                </mat-error>
                <mat-error *ngIf="infoSinhVien_Form.controls.email?.errors?.email">
                  <strong>Email không đúng định dạng</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Địa chỉ" formControlName="diachi" required>
                <mat-error *ngIf="infoSinhVien_Form.controls.diachi?.errors?.required && infoSinhVien_Form.controls.diachi?.touched" required>
                  <strong>Địa chỉ không được bỏ trống</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <mat-select formControlName="id_chucvu" placeholder="Chọn Chức Vụ (nếu có)">
                  <mat-option>---</mat-option>
                  <mat-option value="{{cv.id}}" *ngFor="let cv of DanhSachChucVu">{{cv.tenchucvu_bcs}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="row d-flex justify-content-md-end" id="btn-svform">
                <button mat-button (click)="onCancel()">Hủy</button>
                <button type="submit" [disabled]="infoSinhVien_Form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Xác Nhận</button>
              </div>
            </form>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<app-backtotop></app-backtotop>
