<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <h2 class="font-weight-bold">CHỈNH SỬA THÔNG TIN LỚP HỌC</h2>
  <hr>
  <div class="row">
    <div class="col-md-5 mx-auto">
      <mat-card>
        <h4 class="font-weight-bold">Thông tin cơ bản của lớp học</h4>
        <form [formGroup]="infoLop_Form">
          <div>
            <label>Hệ Đào Tạo: </label>
            <mat-radio-group formControlName="hedaotao" required>
              <mat-radio-button [value]="0" [checked]="selectedValue.hedaotao === 0">Cao Đẳng</mat-radio-button>
              <mat-radio-button [value]="1" [checked]="selectedValue.hedaotao === 1">Đại Học</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Tên Lớp" maxlength="10" #tenlop required formControlName="tenlop" [(ngModel)]="selectedValue.tenlop">
            <mat-hint align="start">
              <strong>Tối đa 10 chữ số</strong>
            </mat-hint>
            <mat-hint align="end">{{tenlop.value.length}} / 10</mat-hint>
            <mat-error *ngIf="infoLop_Form.controls.tenlop?.errors?.required && infoLop_Form.controls.tenlop?.touched">
              <strong>Tên lớp không được bỏ trống</strong>
            </mat-error>
          </mat-form-field>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="col-md-12  ff_lop">
                <input matInput placeholder="Năm Bắt Đầu" maxlength="4" #nambatdau (keypress)="keyPress($event)" required formControlName="nambatdau"
                  [(ngModel)]="selectedValue.nambatdau">
                <mat-hint align="start">
                  <strong>Tối đa 4 số</strong>
                </mat-hint>
                <mat-hint align="end">{{nambatdau.value.length}} / 4</mat-hint>
                <mat-error *ngIf="infoLop_Form.controls.nambatdau?.errors?.required && infoLop_Form.controls.nambatdau?.touched">
                  <strong>Năm bắt đầu không được bỏ trống</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="col-md-12  ff_lop">
                <input matInput placeholder="Năm Kết Thúc" maxlength="4" #namketthuc (keypress)="keyPress($event)" required formControlName="namketthuc"
                  [(ngModel)]="selectedValue.namketthuc">
                <mat-hint align="start">
                  <strong>Tối đa 4 số</strong>
                </mat-hint>
                <mat-hint align="end">{{namketthuc.value.length}} / 4</mat-hint>
                <mat-error *ngIf="infoLop_Form.controls.namketthuc?.errors?.required && infoLop_Form.controls.namketthuc?.touched">
                  <strong>Năm kết thúc không được bỏ trống</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Danh sách khoa" required [(ngModel)]="selectedValue.tructhuoc" [ngModelOptions]="{standalone: true}">
              <mat-option>---</mat-option>
              <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachNganh_Khoa(khoa.id)">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
            <mat-error *ngIf="infoLop_Form.controls.tructhuoc?.errors?.required && infoLop_Form.controls.tructhuoc?.touched">
              <strong>Chọn khoa </strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select formControlName="id_nganh" placeholder="Trực Thuộc Ngành" required [(ngModel)]="selectedValue.id_nganh">
              <mat-option>---</mat-option>
              <mat-option [value]="n.id" *ngFor="let n of DanhSachNganh">{{n.tennganh}}</mat-option>
            </mat-select>
            <mat-error *ngIf="infoLop_Form.controls.id_nganh?.errors?.required && infoLop_Form.controls.id_nganh?.touched">
              <strong>Chọn ngành trực thuộc</strong>
            </mat-error>
          </mat-form-field>
          <div class="row d-flex justify-content-md-end" id="btn-khoaform">
            <button mat-button (click)="onCancel()">Hủy</button>
            <button type="submit" [disabled]="infoLop_Form.invalid" mat-raised-button color="primary" (click)="openDialog()">Cập Nhật</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
