<h4 class="font-weight-bold">CHỌN PHÂN QUYỀN</h4>
<mat-dialog-content>
  <form [formGroup]="phanQuyen_Form">
  <mat-form-field class="col-md-12">
    <mat-select formControlName="nhomquyen"  placeholder="Danh sách loại quyền" required multiple [(ngModel)]="selectedValue">
      <mat-option [value]="lq.id" *ngFor="let lq of DanhSachLoaiQuyen">{{lq.tennhomquyen}}</mat-option>
    </mat-select>
    <mat-error *ngIf="phanQuyen_Form.controls.tructhuoc?.errors?.required">
      <strong>Chọn khoa </strong>
    </mat-error>
  </mat-form-field>
</form>
</mat-dialog-content>

<div class="row d-flex justify-content-end">
  <button mat-button (click)="dialogRef.close()">Hủy</button>
  <button class="btn btn-md btn-warning waves-light" (click)="confirmSelection()" autoFocus>Đồng Ý</button>
</div>
