<section>
  <mat-card>
    <h3 class="font-weight-bold">
      <i class="fas fa-bell"></i> THÔNG BÁO</h3>
    <hr/>
    <!-- Thời Gian Đánh Giá -->
    <section id="thoigiandanhgia">
      <h5 class="font-weight-bold">
        <i class="far fa-calendar-check"></i> Thời Gian Đánh Giá Điểm Rèn Luyện {{mahocky}} Năm Học {{manamhoc}} </h5>
      <ng-container *ngIf="(thoigiandanhgia !== null); else elseTemplate">
        <h6>
          <i class="fa fa-arrow-alt-circle-right text-success" aria-hidden="true"></i>
          <b>
            <u>Sinh viên</u>
          </b> bắt đầu tự đánh giá từ:
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgbatdau_sv | date: "HH:mm dd-MM-yyyy" }}</span> đến
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgketthuc_sv | date: "HH:mm dd-MM-yyyy" }}</span>
        </h6>
        <h6>
          <i class="fa fa-arrow-alt-circle-right text-success" aria-hidden="true"></i>
          <b>
            <u>Ban cán sự lớp</u>
          </b> bắt đầu đánh giá từ:
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgbatdau_bancansu | date: "HH:mm dd-MM-yyyy" }}</span> đến
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgketthuc_bancansu | date: "HH:mm dd-MM-yyyy" }}</span>
        </h6>
        <h6>
          <i class="fa fa-arrow-alt-circle-right text-success" aria-hidden="true"></i>
          <b>
            <u>Cố Vấn Học Tập</u>
          </b> bắt đầu kiểm tra, đánh giá kết quả của sinh viên từ:
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgbatdau_cvht | date: "HH:mm dd-MM-yyyy" }}</span> đến
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgketthuc_cvht | date: "HH:mm dd-MM-yyyy" }}</span>
        </h6>
        <h6>
          <i class="fa fa-arrow-alt-circle-right text-success" aria-hidden="true"></i>
          <b>
            <u>Hội Đồng Khoa</u>
          </b> bắt đầu kiểm tra, đánh giá kết quả của sinh viên từ:
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgbatdau_hoidongkhoa | date: "HH:mm dd-MM-yyyy" }}</span> đến
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgketthuc_hoidongkhoa | date: "HH:mm dd-MM-yyyy" }}</span>
        </h6>
        <h6>
          <i class="fa fa-arrow-alt-circle-right text-success" aria-hidden="true"></i>
          <b>
            <u>Hội Đồng Trường</u>
          </b> bắt đầu kiểm tra, đánh giá và nhận khiếu nại (nếu có) về kết quả của sinh viên từ:
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgbatdau_hoidongtruong | date: "HH:mm dd-MM-yyyy" }}</span> đến
          <span class="text-danger font-weight-bold">{{thoigiandanhgia.tgketthuc_hoidongtruong | date: "HH:mm dd-MM-yyyy" }}</span>
        </h6>
      </ng-container>
      <ng-template #elseTemplate>
        <h4 class="text-center font-weight-bold">Chưa đến thời gian đánh giá</h4>
      </ng-template>
    </section>
  </mat-card>
  <!-- Thông Tin Chung -->
  <section>
    <mat-card>
      <h3 class="font-weight-bold">
        <i class="fas fa-bullhorn"></i> Thông Tin Chung</h3>
      <hr/>
      <ng-container *ngFor="let tb of DanhSachThongBao">
        <h4 class="font-weight-bold">
          <i class="far fa-calendar-check"></i> {{tb.tieude}} </h4>
        <h6 [innerHTML]="tb.noidung | safeHtml"></h6>
      </ng-container>
    </mat-card>
  </section>
</section>
