<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <h2 class="font-weight-bold">THÊM THÔNG TIN NĂM HỌC - HỌC KỲ MỚI</h2>
      <hr>
      <h4 class="font-weight-bold text-center">THÔNG TIN NĂM HỌC</h4>
      <hr>
      <form [formGroup]="infoNamHoc_form" novalidate>
        <ngx-stepper #steppers [options]="options">
          <ngx-step [label]="'Chọn năm học'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <mat-select placeholder="Chọn Năm Học" required formControlName="manamhoc">
                  <mat-option>---</mat-option>
                  <mat-option [value]="nh" *ngFor="let nh of DanhSachNamHoc">{{nh}}</mat-option>
                </mat-select>
                <mat-error *ngIf="infoNamHoc_form.controls.manamhoc?.errors?.required && infoNamHoc_form.controls.manamhoc?.errors?.touched">
                  <strong>Chọn năm học</strong>
                </mat-error>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Thời gian học kỳ 1'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <input matInput [matDatepicker]="picker" placeholder="Chọn thời gian bắt đầu" formControlName="tgbatdau_hk1" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker startView="multi-year"></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <input matInput [matDatepicker]="picker2" placeholder="Chọn thời gian kết thúc" formControlName="tgketthuc_hk1" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker2 startView="multi-year"></mat-datepicker>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Thời gian học kỳ 2'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <input matInput [matDatepicker]="picker3" placeholder="Chọn thời gian bắt đầu" formControlName="tgbatdau_hk2" required>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker3 startView="multi-year"></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <input matInput [matDatepicker]="picker4" placeholder="Chọn thời gian kết thúc" formControlName="tgketthuc_hk2" required>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker4 startView="multi-year"></mat-datepicker>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="infoNamHoc_form.invalid">Thêm Năm Học Mới</button>
            </ngx-step-actions>
          </ngx-step>
        </ngx-stepper>
      </form>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
