<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <h2 class="font-weight-bold">LỌC</h2>
        <hr>
        <h4 class="font-weight-bold">Lọc theo:</h4>
        <mat-radio-group [(ngModel)]="loaiLoc">
          <mat-radio-button [value]="1" [checked]="loaiLoc===1">Tất cả</mat-radio-button>
          <br>
          <mat-radio-button [value]="2">Trực thuộc khoa</mat-radio-button>
        </mat-radio-group>
        <div [hidden]="loaiLoc !== 2">
          <mat-form-field class="col-md-12">
            <mat-select [(ngModel)]="id_khoa" placeholder="Danh Sách Khoa" required [formControl]="dskhoa_control">
              <mat-option>---</mat-option>
              <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachNganh(khoa.id)">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dskhoa_control.hasError('required')">Vui lòng chọn khoa !!!</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select [(ngModel)]="id_nganh" placeholder="Danh Sách Ngành" required [formControl]="dsnganh_control">
              <mat-option>---</mat-option>
              <mat-option [value]="n.id" *ngFor="let n of DanhSachNganh">{{n.tennganh}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dsnganh_control.hasError('required')">Vui lòng chọn ngành !!!</mat-error>
          </mat-form-field>
        </div>
        <br>
        <button class="btn btn-md btn-primary" [disabled]="!id_khoa === null" (click)="locDanhSach()">Xem</button>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card>
        <a class="btn btn-md btn-success" [routerLink]="[ '/trangchu/quanly/quanlylop/themlop']">
          <i class="fa fa-plus" aria-hidden="true"></i> Thêm lớp mới</a>
        <h2 class="font-weight-bold">DANH SÁCH LỚP HỌC</h2>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <mat-card>
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr class="table-primary">
                <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">Tên Lớp</th>
                <th scope="col" class="text-center font-weight-bold" width="15%">Năm Bắt Đầu</th>
                <th scope="col" class="text-center font-weight-bold" width="15%">Năm Kết Thúc</th>
                <th scope="col" class="text-center font-weight-bold" width="35%">Ngành</th>
                <th scope="col" class="text-center font-weight-bold" width="20%">Quản Lý</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lop of DanhSachLop | lopFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
                <td class="text-center font-weight-bold">{{i+1}}</td>
                <td class="text-center font-weight-bold">{{lop.tenlop}}</td>
                <td class="text-center font-weight-bold">{{lop.nambatdau}}</td>
                <td class="text-center font-weight-bold">{{lop.namketthuc}}</td>
                <td class="text-left">{{lop.tennganh}}</td>
                <td class="text-center font-weight-bold">
                  <a [routerLink]="[ '/trangchu/quanly/quanlylop/sualop/', lop.id ]">
                    <span matTooltip="Sửa thông tin">
                      <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                    </span>
                  </a>
                  <a (click)="openDialog(lop.id, lop.tenlop)">
                    <span matTooltip="Xóa thông tin">
                      <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            <td class="text-center font-weight-bold" *ngIf="(DanhSachLop | lopFilter: search).length === 0" colspan="6" style="font-size: 20px;">Không có lớp nào được tìm thấy !!!</td>
          </table>
          <div class="row justify-content-center">
            <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="Trang Trước" nextLabel="Trang Sau"></pagination-controls>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
