<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-thong-tin-sinh-vien></app-thong-tin-sinh-vien>
    </div>
    <div class="col-md-8">
      <ng-container *ngIf="thoigiandanhgia !== null">
        <!-- Ban cán sự đánh giá điểm rèn luyện của sinh viên -->
        <ng-container *ngFor="let qh of quyenhan">
          <ng-container *ngIf="qh.id_nhomquyen === 2">
            <ng-container *ngIf="tgbcsdg">
              <mat-card>
                <h3 class="font-weight-bold">
                  <i class="fas fa-bell"></i> DUYỆT ĐÁNH GIÁ</h3>
                <hr/>
                <a class="btn btn-sm btn-warning" [routerLink]="[ '/trangchu/sinhvien/bancansu/danhsachsinhvien' ]">Đánh giá ngay</a>
              </mat-card>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="tgsvdg; else elseTemplate2">
          <mat-card>
            <!-- Thông báo tình trạng đánh giá -->
            <!-- Dựa vào trạng thái đánh giá của sinh viên -->
            <h3 class="font-weight-bold">
              <i class="fas fa-bell"></i> TÌNH TRẠNG ĐÁNH GIÁ</h3>
            <hr/>
            <ng-container *ngIf="(trangthaidanhgiasv === 0); else elseTemplate">
              <h6>
                <!-- Nếu sinh viên chưa đánh giá  -->
                <span class="text-warning font-weight-bold">Chưa đánh giá</span> -
                <a class="btn btn-sm btn-warning" [routerLink]="[ '/trangchu/sinhvien/danhgia' ]">Đánh giá ngay</a>
              </h6>
            </ng-container>
            <ng-template #elseTemplate>
              <h6>
                <!-- Nếu sinh viên đã đánh giá  -->
                <span class="text-success font-weight-bold">Đã đánh giá</span> -
                <a class="btn btn-sm btn-success" [routerLink]="[ '/trangchu/sinhvien/lichsudanhgia' ]">Xem</a>
              </h6>
            </ng-template>
            <!--  -->
          </mat-card>
        </ng-container>
        <!-- Thời Gian Đánh Giá -->
      </ng-container>
      <app-thongbao></app-thongbao>
    </div>
  </div>
</div>
<app-backtotop></app-backtotop>
