<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <h2 class="font-weight-bold">THÊM THÔNG TIN ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h2>
      <hr>
      <h4 class="font-weight-bold text-center">THÔNG TIN THỜI GIAN ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h4>
      <hr>

      <form [formGroup]="infoTGDanhGia_Form" novalidate>
        <ngx-stepper #steppers [options]="options">
          <ngx-step [label]="'Chọn năm học - học kỳ'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <mat-select placeholder="Danh sách năm học" required [formControl]="namhoc_control">
                  <mat-option>---</mat-option>
                  <mat-option value="{{nh.id}}" *ngFor="let nh of DanhSachNamHoc" (click)="getDanhSachHocky_NamHoc(nh.id)">{{nh.manamhoc}}</mat-option>
                </mat-select>
                <mat-error *ngIf="namhoc_control.hasError('required')">Vui lòng chọn năm học !!!</mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <mat-select formControlName="id_hocky" placeholder="Danh sách học kỳ" required>
                  <mat-option>---</mat-option>
                  <mat-option value="{{hk.id}}" *ngFor="let hk of DanhSachHocKy">{{hk.mahocky}} | {{hk.manamhoc}}</mat-option>
                </mat-select>
                <mat-error *ngIf="infoTGDanhGia_Form.controls.id_hocky?.errors?.required && infoTGDanhGia_Form.controls.id_hocky?.touched">
                  <strong>Chọn học kỳ mở đánh giá !!! </strong>
                </mat-error>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Chọn quyết định tiêu chí thực hiện đánh giá'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <mat-select formControlName="id_tieuchidanhgia" placeholder="Danh sách quyết định thành lập tiêu chí" required>
                  <mat-option>---</mat-option>
                  <mat-option value="{{qd.id}}" *ngFor="let qd of DanhSachQD">{{qd.maquyetdinh}}</mat-option>
                </mat-select>
                <mat-error *ngIf="infoTGDanhGia_Form.controls.id_tieuchidanhgia?.errors?.required && infoTGDanhGia_Form.controls.id_tieuchidanhgia?.touched">
                  <strong>Chọn bộ tiêu chí đánh giá !!! </strong>
                </mat-error>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Cho phép đăng ký trễ'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Số ngày được phép trễ đánh giá" #chopheptre maxlength="1" formControlName="chopheptre" (keypress)="keyPress($event)"
                  [(ngModel)]="chopheptre_default">
                <mat-hint align="start">
                  <strong>Tối đa 1 số</strong>
                </mat-hint>
                <mat-hint align="end">{{chopheptre.value.length}} / 1</mat-hint>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Số điểm trừ đánh giá trễ" #diemtru maxlength="1" formControlName="diemtru" (keypress)="keyPress($event)"
                  [(ngModel)]="diemtru_default">
                <mat-hint align="start">
                  <strong>Tối đa 1 số</strong>
                </mat-hint>
                <mat-hint align="end">{{diemtru.value.length}} / 1</mat-hint>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Thời gian đánh giá'">
            <ngx-step-body>
              <mat-accordion>
                <!-- Sinh Viên -->
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="align-self-center">
                    <mat-panel-title>
                      <div class="font-weight-bold"> Thời gian đánh giá của Sinh Viên: </div>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="(infoTGDanhGia_Form.controls.tgbatdau_sv_tmp?.value !== '' && infoTGDanhGia_Form.controls.tgketthuc_sv_tmp?.value != '')">
                      Bắt đầu lúc: {{infoTGDanhGia_Form.controls.tgbatdau_sv_tmp.value | date: "HH:mm, dd-MM-yyyy"}} đến {{infoTGDanhGia_Form.controls.tgketthuc_sv_tmp.value
                      | date: "HH:mm, dd-MM-yyyy"}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian bắt đầu đánh giá" [owlDateTimeTrigger]="dtbdsv" [owlDateTime]="dtbdsv" formControlName="tgbatdau_sv_tmp"
                      required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtbdsv></owl-date-time>
                  </mat-form-field>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian kết thúc đánh giá" [owlDateTimeTrigger]="dtktsv" [owlDateTime]="dtktsv" formControlName="tgketthuc_sv_tmp"
                      [min]="infoTGDanhGia_Form.controls.tgbatdau_sv_tmp.value" required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtktsv></owl-date-time>
                  </mat-form-field>

                </mat-expansion-panel>
                <!-- Sinh Viên -->

                <!-- Ban Cán Sự -->
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="font-weight-bold">Thời gian đánh giá của Ban Cán Sự: </div>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="(infoTGDanhGia_Form.controls.tgbatdau_bcs_tmp?.value !== '' && infoTGDanhGia_Form.controls.tgketthuc_bcs_tmp?.value != '')">
                      Bắt đầu lúc: {{infoTGDanhGia_Form.controls.tgbatdau_bcs_tmp.value | date: "HH:mm, dd-MM-yyyy"}} đến {{infoTGDanhGia_Form.controls.tgketthuc_bcs_tmp.value
                      | date: "HH:mm, dd-MM-yyyy"}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian bắt đầu đánh giá" [owlDateTimeTrigger]="dtbdbcs" [owlDateTime]="dtbdbcs" formControlName="tgbatdau_bcs_tmp"
                      [min]="infoTGDanhGia_Form.controls.tgketthuc_sv_tmp.value" required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtbdbcs></owl-date-time>
                  </mat-form-field>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian kết thúc đánh giá" [owlDateTimeTrigger]="dtktbcs" [owlDateTime]="dtktbcs" formControlName="tgketthuc_bcs_tmp"
                      [min]="infoTGDanhGia_Form.controls.tgbatdau_bcs_tmp.value" required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtktbcs></owl-date-time>
                  </mat-form-field>

                </mat-expansion-panel>
                <!-- Ban Cán Sự -->

                <!-- Cố Vấn Học Tập -->
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="font-weight-bold">Thời gian đánh giá của Cố Vấn Học Tập:</div>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="(infoTGDanhGia_Form.controls.tgbatdau_cvht_tmp?.value !== '' && infoTGDanhGia_Form.controls.tgketthuc_cvht_tmp?.value != '')">
                      Bắt đầu lúc: {{infoTGDanhGia_Form.controls.tgbatdau_cvht_tmp.value | date: "HH:mm, dd-MM-yyyy"}} đến {{infoTGDanhGia_Form.controls.tgketthuc_cvht_tmp.value
                      | date: "HH:mm, dd-MM-yyyy"}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian bắt đầu đánh giá" [owlDateTimeTrigger]="dtbdcvht" [owlDateTime]="dtbdcvht" formControlName="tgbatdau_cvht_tmp"
                      [min]="infoTGDanhGia_Form.controls.tgketthuc_bcs_tmp.value" required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtbdcvht></owl-date-time>
                  </mat-form-field>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian kết thúc đánh giá" [owlDateTimeTrigger]="dtktcvht" [owlDateTime]="dtktcvht" formControlName="tgketthuc_cvht_tmp"
                      [min]="infoTGDanhGia_Form.controls.tgbatdau_cvht_tmp.value" required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtktcvht></owl-date-time>
                  </mat-form-field>

                </mat-expansion-panel>
                <!-- Cố Vấn Học Tập -->

                <!-- Hội Đồng Khoa -->
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="font-weight-bold">Thời gian đánh giá của Hội Đồng Khoa:</div>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="(infoTGDanhGia_Form.controls.tgbatdau_hoidongkhoa_tmp?.value !== '' && infoTGDanhGia_Form.controls.tgketthuc_hoidongkhoa_tmp?.value != '')">
                      Bắt đầu lúc: {{infoTGDanhGia_Form.controls.tgbatdau_hoidongkhoa_tmp.value | date: "HH:mm, dd-MM-yyyy"}} đến {{infoTGDanhGia_Form.controls.tgketthuc_hoidongkhoa_tmp.value
                      | date: "HH:mm, dd-MM-yyyy"}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian bắt đầu đánh giá" [owlDateTimeTrigger]="dtbdhdkhoa" [owlDateTime]="dtbdhdkhoa" formControlName="tgbatdau_hoidongkhoa_tmp"
                      [min]="infoTGDanhGia_Form.controls.tgketthuc_cvht_tmp.value" required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtbdhdkhoa></owl-date-time>
                  </mat-form-field>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian kết thúc đánh giá" [owlDateTimeTrigger]="dtkthdkhoa" [owlDateTime]="dtkthdkhoa" formControlName="tgketthuc_hoidongkhoa_tmp"
                      [min]="infoTGDanhGia_Form.controls.tgbatdau_hoidongkhoa_tmp.value" required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtkthdkhoa></owl-date-time>
                  </mat-form-field>

                </mat-expansion-panel>
                <!-- Hội Đồng Khoa -->

                <!-- Hội Đồng Trường -->
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="font-weight-bold">Thời gian đánh giá của Hội Đồng Trường:</div>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="(infoTGDanhGia_Form.controls.tgbatdau_hoidongtruong_tmp?.value !== '' && infoTGDanhGia_Form.controls.tgketthuc_hoidongtruong_tmp?.value != '')">
                      Bắt đầu lúc: {{infoTGDanhGia_Form.controls.tgbatdau_hoidongtruong_tmp.value | date: "HH:mm, dd-MM-yyyy"}} đến {{infoTGDanhGia_Form.controls.tgketthuc_hoidongtruong_tmp.value
                      | date: "HH:mm, dd-MM-yyyy"}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian bắt đầu đánh giá" [owlDateTimeTrigger]="dtbdhdtruong" [owlDateTime]="dtbdhdtruong"
                      formControlName="tgbatdau_hoidongtruong_tmp" [min]="infoTGDanhGia_Form.controls.tgketthuc_hoidongkhoa_tmp.value"
                      required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtbdhdtruong></owl-date-time>
                  </mat-form-field>

                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Thời gian kết thúc đánh giá" [owlDateTimeTrigger]="dtkthdtruong" [owlDateTime]="dtkthdtruong"
                      formControlName="tgketthuc_hoidongtruong_tmp" [min]="infoTGDanhGia_Form.controls.tgbatdau_hoidongtruong_tmp.value"
                      required>
                    <span matSuffix>
                      <i class="far fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerMode]="'dialog'" #dtkthdtruong></owl-date-time>
                  </mat-form-field>

                </mat-expansion-panel>
                <!-- Hội Đồng Trường -->
              </mat-accordion>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="infoTGDanhGia_Form.invalid">Xác Nhận</button>
            </ngx-step-actions>
          </ngx-step>
        </ngx-stepper>
      </form>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
