<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <h2 class="font-weight-bold">CẬP NHẬT THÔNG TIN QUYẾT ĐỊNH VÀ CÁC TIÊU CHÍ</h2>
      <hr>
      <mat-card>
        <h4 class="font-weight-bold text-center">THÔNG TIN QUYẾT ĐỊNH THÀNH LẬP CÁC TIÊU CHÍ ĐÁNH GIÁ</h4>
        <hr>
        <div>
          <h6 class="font-weight-bold">Chọn tệp quyết định: (chọn tệp xong nhấn Upload để đính kèm tệp)</h6>
          <p-fileUpload value="selectedQD.filename_quyetdinh" name="myfile[]" accept="image/*,application/pdf,application/vnd.ms-excel"
            customUpload="true" chooseLabel="Chọn tệp" uploadLabel="Tải lên" cancelLabel="Hủy bỏ" (onRemove)="removeFile()"
            (onClear)="removeFile()" (uploadHandler)="myUploader($event)"></p-fileUpload>
        </div>
        <mat-form-field class="col-md-12">
          <input matInput [matDatepicker]="picker" placeholder="Thời gian bắt đầu hiệu lực" [formControl]="tgbatdauhieuluc" [(ngModel)]="selectedQD.tgbatdau"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <div class="row d-flex justify-content-md-end">
          <button type="submit" mat-raised-button color="primary" [disabled]="!fileToUpload === null && tgbatdauhieuluc.invalid" (click)="openDialog()">Cập Nhật</button>
        </div>
      </mat-card>

      <!-- Các tiếu chí đánh giá - Undisabled khi đã có file quyết định -->
      <!-- [hidden]="!isShowTieuChiMoi" -->
      <mat-card>
        <h4 class="font-weight-bold text-center">THÔNG TIN CÁC TIÊU CHÍ MỚI</h4>
        <hr>
        <div class="row">
          <div class="col-4">
            <mat-card>
              <form [formGroup]="infoTieuchi_Form">
                <mat-form-field class="col-md-12">
                  <mat-select formControlName="id_tieuchicha" placeholder="Tiêu chí cha" (change)="changeTieuChiCha($event.value)">
                    <mat-option value="">--Tiêu Chí Gốc--</mat-option>
                    <ng-container *ngFor="let cm of DanhSachChiMuc">
                      <ng-container *ngIf="cm.chimuc_tieuchicha !== null; else elseTemplate3">
                        <mat-option value="{{cm.id}}">{{cm.chimuc_tieuchi}} - {{cm.chimuc_tieuchicha}}</mat-option>
                      </ng-container>
                      <ng-template #elseTemplate3>
                        <mat-option value="{{cm.id}}">{{cm.chimuc_tieuchi}} - Tiêu chí gốc</mat-option>
                      </ng-template>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <section class="col-md-12" [hidden]="!isdiemthuong">
                  <mat-checkbox formControlName="diemthuong" color="primary" [checked]="isCheckDiemThuong === 1" [(ngModel)]="isCheckDiemThuong">Điểm thưởng</mat-checkbox>
                </section>
                <mat-form-field class="col-md-12">
                  <mat-select formControlName="khongdanhgia" placeholder="Loại đánh giá" [(ngModel)]="iskhongdanhgia" required>
                    <mat-option [value]="1" selected="iskhongdanhgia === 1">Đánh giá ở tiêu chí con</mat-option>
                    <mat-option [value]="0" selected="iskhongdanhgia === 0">Đánh giá ở ngay tiêu chí</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Chỉ mục tiêu chí" maxlength="3" #chimuc_tieuchi required formControlName="chimuc_tieuchi">
                  <mat-hint align="start">
                    <strong>Tối đa 3 chữ số</strong>
                  </mat-hint>
                  <mat-hint align="end">{{chimuc_tieuchi.value.length}} / 3</mat-hint>
                  <mat-error *ngIf="infoTieuchi_Form.controls.chimuc_tieuchi?.errors?.required && infoTieuchi_Form.controls.chimuc_tieuchi?.touched">
                    <strong>Chưa điền chỉ mục tiêu chí</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <textarea matInput placeholder="Tên tiêu chí" formControlName="tentieuchi" required></textarea>
                  <mat-error *ngIf="infoTieuchi_Form.controls.tentieuchi?.errors?.required && infoTieuchi_Form.controls.tentieuchi?.touched">
                    <strong>Chưa điền tên tiêu chí</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12" [hidden]="infoTieuchi_Form.controls.khongdanhgia?.value === 1">
                  <mat-select placeholder="Loại đánh giá điểm" required [formControl]="id_loaidiem">
                    <mat-option value="{{ld.id}}" *ngFor="let ld of DanhSachLoaiDiem">{{ld.tenloaidiem}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="id_loaidiem.hasError('required')">
                    <strong>Chọn loại điểm đánh giá</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-12">
                  <input placeholder="Điểm tối đa" matInput [matAutocomplete]="diemtoida" formControlName="diemtoida">
                  <mat-autocomplete #diemtoida="matAutocomplete">
                    <mat-option *ngFor="let dtd of arrdiemtoida" value="{{dtd}}">
                      {{dtd}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="infoTieuchi_Form.controls.diemtoida?.errors?.required && infoTieuchi_Form.controls.diemtoida?.touched">
                    <strong>Chọn chưa chọn số điểm tối đa</strong>
                  </mat-error>
                </mat-form-field>
                <div>
                  <label>Minh Chứng: </label>
                  <br>
                  <mat-radio-group formControlName="can_minhchung" required>
                    <mat-radio-button value="0">Không cần minh chứng</mat-radio-button>
                    <mat-radio-button value="1">Cần có minh chứng</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="row d-flex justify-content-md-end" id="btn-svform">
                  <button type="submit" mat-raised-button color="primary" [disabled]="infoTieuchi_Form.invalid" (click)="themTieuChi()">Thêm</button>
                </div>
              </form>
            </mat-card>
          </div>
          <div class="col-8">
            <h4 class="font-weight-bold text-center">DANH SÁCH CÁC TIÊU CHÍ MỚI</h4>
            <hr>
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="table-primary">
                  <th scope="col" class="text-center font-weight-bold" width="60%">Nội Dung</th>
                  <th scope="col" class="text-center font-weight-bold" width="15%">Cách Chọn Điểm Đánh Giá</th>
                  <th scope="col" class="text-center font-weight-bold" width="10%">Điểm Tối Đa</th>
                  <th scope="col" class="text-center font-weight-bold" width="15%">Quản Lý</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let tc of DanhSachTieuChiThem | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
                  <!-- Nếu tiêu chí là tiêu chí gốc thì dòng tiêu chí có màu xám. Ngược lại, là tiêu chí bình thường elseTemplate -->
                  <ng-container *ngIf="tc.is_tieuchigoc === 1; else elseTemplate">
                    <tr class="table-secondary">
                      <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                      <td class="font-weight-bold"></td>
                      <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                      <td class="text-center font-weight-bold ">
                        <a (click)="selectedTieuChi(tc)">
                          <span matTooltip="Sửa thông tin ">
                            <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                          </span>
                        </a>
                        <a (click)="openDialogDelete(tc.id, tc.tentieuchi)">
                          <span matTooltip="Xóa thông tin ">
                            <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                          </span>
                        </a>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <!-- Nếu như tiêu chí là cha, ngược lại elseTemplate2 -->
                    <ng-container *ngIf="(tc.id_tieuchicha === null && tc.is_tieuchigoc === 0); else elseTemplate2">
                      <tr>
                        <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                        <td class="font-weight-bold"></td>
                        <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                        <td class="text-center font-weight-bold ">
                          <a (click)="selectedTieuChi(tc)">
                            <span matTooltip="Sửa thông tin ">
                              <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                            </span>
                          </a>
                          <a (click)="openDialogDelete(tc.id, tc.tentieuchi)">
                            <span matTooltip="Xóa thông tin ">
                              <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                            </span>
                          </a>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-template #elseTemplate2>
                      <!-- Nếu như tiêu chí là tiêu chí thuộc một tiêu chí khác và nó là điểm thưởng thì dòng tiêu chí có màu vàng , ngược lại elseTemplate3 -->
                      <ng-container *ngIf="tc.diemthuong === 1; else elseTemplate3">
                        <!-- Cấp 2 -->
                        <!-- Nếu là điểm thưởng -->
                        <tr class="table-warning">
                          <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                          <td class="font-weight-bold"></td>
                          <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                          <td class="text-center font-weight-bold ">
                            <a (click)="selectedTieuChi(tc)">
                              <span matTooltip="Sửa thông tin ">
                                <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                              </span>
                            </a>
                            <a (click)="openDialogDelete(tc.id, tc.tentieuchi)">
                              <span matTooltip="Xóa thông tin ">
                                <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                              </span>
                            </a>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-template #elseTemplate3>
                        <!-- Nếu tiêu chí này là tiêu chí mà đánh giá ở tiêu chí con, ngược lại thì elseTemplate4 -->
                        <ng-container *ngIf="tc.id_loaidiem === null; else elseTemplate4">
                          <tr>
                            <td class="text-left font-weight-bold">&emsp;&emsp;&emsp;&emsp;{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                            <td class="font-weight-bold"></td>
                            <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                            <td class="text-center font-weight-bold ">
                              <a (click)="selectedTieuChi(tc)">
                                <span matTooltip="Sửa thông tin ">
                                  <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                                </span>
                              </a>
                              <a (click)="openDialogDelete(tc.id, tc.tentieuchi)">
                                <span matTooltip="Xóa thông tin ">
                                  <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                                </span>
                              </a>
                            </td>
                          </tr>
                        </ng-container>
                        <ng-template #elseTemplate4>
                          <tr>
                            <td class="text-left font-weight-bold">&emsp;&emsp;&emsp;&emsp;{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}
                              <a class="badge badge-pill badge-warning" *ngIf="tc.can_minhchung === 1">
                                Cần minh chứng</a>
                            </td>
                            <td class="text-center">{{ tc.tenloaidiem }}</td>
                            <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                            <td class="text-center font-weight-bold ">
                              <a (click)="selectedTieuChi(tc)">
                                <span matTooltip="Sửa thông tin ">
                                  <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                                </span>
                              </a>
                              <a (click)="openDialogDelete(tc.id, tc.tentieuchi)">
                                <span matTooltip="Xóa thông tin ">
                                  <img style="width: 2.2em;" class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                                </span>
                              </a>
                            </td>
                          </tr>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                  <td class="text-center font-weight-bold" *ngIf="DanhSachTieuChiThem.length === 0" colspan="7" style="font-size: 20px;">Không có tiêu chí nào được thêm vào !!!</td>
                </ng-container>
              </tbody>
            </table>
            <div class="row justify-content-center">
              <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
                nextLabel="Trang Sau"></pagination-controls>
            </div>
          </div>
        </div>

      </mat-card>

    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
