<div class="container">
  <mat-dialog-content>
    <section>
      <mat-card>
        <h2 class="text-center font-weight-bold"> Kết Quả Đánh Giá Điểm Rèn Luyện {{mahocky}} Năm Học {{manamhoc}} </h2>
        <hr>
        <div class="row d-flex justify-content-md-end">
          <button class="btn btn-sm btn-danger" (click)="exportFile('xls')">Export file .xls</button>
          <button class="btn btn-sm btn-danger" (click)="exportFile('xlsx')">Export file .xlsx</button>
        </div>
        <hr>
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col" class="text-center font-weight-bold" rowspan="2" width="40%">Nội Dung</th>
              <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Điểm</th>
              <th scope="col" class="text-center font-weight-bold" colspan="5" width="40%">Đánh Giá</th>

            </tr>
            <tr class="table-primary">
              <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Cá Nhân</th>
              <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Ban Cán Sự</th>
              <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">CVHT</th>
              <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">HD Khoa</th>
              <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">HD Trường</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let tc of DanhSachTieuChi; let i = index">
              <!-- Nếu tiêu chí là tiêu chí gốc thì dòng tiêu chí có màu xám. Ngược lại, là tiêu chí bình thường elseTemplate -->
              <ng-container *ngIf="tc.is_tieuchigoc === 1; else elseTemplate">
                <tr class="table-secondary">
                  <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                  <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                  <td class="font-weight-bold" colspan="5"></td>
                </tr>
              </ng-container>
              <ng-template #elseTemplate>
                <!-- Nếu như tiêu chí là cha, ngược lại elseTemplate2 -->
                <ng-container *ngIf="(tc.id_tieuchicha === null && tc.is_tieuchigoc === 0); else elseTemplate2">
                  <tr>
                    <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                    <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                    <td class="font-weight-bold" colspan="5"></td>
                  </tr>
                </ng-container>
                <ng-template #elseTemplate2>
                  <!-- Nếu như tiêu chí là tiêu chí thuộc một tiêu chí khác và nó là điểm thưởng thì dòng tiêu chí có màu vàng , ngược lại elseTemplate3 -->
                  <ng-container *ngIf="tc.diemthuong === 1; else elseTemplate3">
                    <!-- Cấp 2 -->
                    <!-- Nếu là điểm thưởng -->
                    <tr class="table-warning">
                      <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }} </td>
                      <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                      <td class="font-weight-bold" colspan="5"></td>
                    </tr>
                  </ng-container>
                  <ng-template #elseTemplate3>
                    <!-- Nếu tiêu chí này là tiêu chí mà đánh giá ở tiêu chí con, ngược lại thì elseTemplate4 -->
                    <ng-container *ngIf="tc.id_loaidiem === null; else elseTemplate4">
                      <tr>
                        <td class="text-left font-weight-bold">&emsp;&emsp;&emsp;&emsp;{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                        <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                        <td class="font-weight-bold" colspan="5"></td>
                      </tr>
                    </ng-container>
                    <ng-template #elseTemplate4>
                      <!-- Nếu loại dánh giá điểm là chọn thì hiển thị radio button ngược lại thì elseTemplate5 -->
                      <ng-container *ngIf="tc.id_loaidiem === 1; else elseTemplate5">
                        <tr>
                          <td class="text-left font-weight-bold">&emsp;&emsp;&emsp;&emsp;{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}
                          </td>
                          <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdg of ChiTietDanhGiaSV">
                              <td *ngSwitchCase="ctdg.id_tieuchi" class="text-center font-weight-bold">{{ ctdg.diem }}</td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>

                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdgbcs of ChiTietDanhGiaBCS">
                              <td *ngSwitchCase="ctdgbcs.id_tieuchi" class="text-center font-weight-bold">{{ ctdgbcs.diem }}</td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>

                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdgcvht of ChiTietDanhGiaCVHT">
                              <td *ngSwitchCase="ctdgcvht.id_tieuchi" class="text-center font-weight-bold">{{ ctdgcvht.diem }}</td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>

                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdghdkhoa of ChiTietDanhGiaHDKhoa">
                              <td *ngSwitchCase="ctdghdkhoa.id_tieuchi" class="text-center font-weight-bold">{{ ctdghdkhoa.diem }}</td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>

                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdghdtruong of ChiTietDanhGiaHDTruong">
                              <td *ngSwitchCase="ctdghdtruong.id_tieuchi" class="text-center font-weight-bold">{{ ctdghdtruong.diem }}</td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>
                        </tr>
                      </ng-container>
                      <!-- Nếu loại đánh giá điểm là điền thì hiển thị input cho người dùng nhập-->
                      <ng-template #elseTemplate5>
                        <tr>
                          <td class="text-left font-weight-bold">&emsp;&emsp;&emsp;&emsp;{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}
                          </td>
                          <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdg of ChiTietDanhGiaSV">
                              <td *ngSwitchCase="ctdg.id_tieuchi" class="text-center font-weight-bold">
                                {{ ctdg.diem }}
                                <ng-container *ngIf="ctdg.filename_minhchung">
                                  <hr>
                                  <a *ngIf="ctdg.filename_minhchung" class="badge badge-pill badge-info" (click)="downloadFileMinhChung(ctdg)">
                                    <i class="fas fa-file"></i> Xem minh chứng</a>
                                </ng-container>
                              </td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>

                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdgbcs of ChiTietDanhGiaBCS">
                              <td *ngSwitchCase="ctdgbcs.id_tieuchi" class="text-center font-weight-bold">{{ ctdgbcs.diem }}
                                <ng-container *ngIf="ctdgbcs.filename_minhchung">
                                  <hr>
                                  <a class="badge badge-pill badge-info" (click)="downloadFileMinhChung(ctdgbcs)">
                                    <i class="fas fa-file"></i> Xem minh chứng</a>
                                </ng-container>
                              </td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>

                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdgcvht of ChiTietDanhGiaCVHT">
                              <td *ngSwitchCase="ctdgcvht.id_tieuchi" class="text-center font-weight-bold">{{ ctdgcvht.diem }}
                                <ng-container *ngIf="ctdgcvht.filename_minhchung">
                                  <hr>
                                  <a class="badge badge-pill badge-info" (click)="downloadFileMinhChung(ctdgcvht)">
                                    <i class="fas fa-file"></i> Xem minh chứng</a>
                                </ng-container>
                              </td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>

                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdghdkhoa of ChiTietDanhGiaHDKhoa">
                              <td *ngSwitchCase="ctdghdkhoa.id_tieuchi" class="text-center font-weight-bold">{{ ctdghdkhoa.diem }}
                                <ng-container *ngIf="ctdghdkhoa.filename_minhchung">
                                  <hr>
                                  <a class="badge badge-pill badge-info" (click)="downloadFileMinhChung(ctdghdkhoa)">
                                    <i class="fas fa-file"></i> Xem minh chứng</a>
                                </ng-container>
                              </td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>

                          <ng-container [ngSwitch]="tc.id">
                            <ng-container *ngFor="let ctdghdtruong of ChiTietDanhGiaHDTruong">
                              <td *ngSwitchCase="ctdghdtruong.id_tieuchi" class="text-center font-weight-bold">{{ ctdghdtruong.diem }}
                                <ng-container *ngIf="ctdghdtruong.filename_minhchung">
                                  <hr>
                                  <a class="badge badge-pill badge-info" (click)="downloadFileMinhChung(ctdghdtruong)">
                                    <i class="fas fa-file"></i> Xem minh chứng</a>
                                </ng-container>
                              </td>
                            </ng-container>
                            <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                          </ng-container>
                        </tr>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-container>
          </tbody>
        </table>

      </mat-card>

      <mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()">Đóng</button>
      </mat-dialog-actions>
    </section>
  </mat-dialog-content>
</div>
