<h4 class="font-weight-bold">Chọn file import</h4>
<hr>
<p-fileUpload name="myfile[]" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" customUpload="true" chooseLabel="Chọn tệp"
  uploadLabel="Tải lên" cancelLabel="Hủy bỏ" (onRemove)="removeFile()" (onClear)="removeFile()" (uploadHandler)="myUploader($event)"></p-fileUpload>
<hr>
<div class="row d-flex justify-content-end">
  <button mat-button (click)="dialogRef.close()">Hủy</button>
  <button class="btn btn-md btn-warning waves-light" (click)="confirmSelection()" [disabled]="fileToUpload === null"autoFocus>Đồng Ý</button>
</div>
