<go-top-button [html]="'<i class=\'fa fa-angle-double-up\'></i>'" [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300"
  [styles]="{
     'border-radius': '20px 20px 20px 20px',
     'right': '5px',
     'color': '#636e72',
     'line-height': '20px'
  }">
</go-top-button>
