<h2 mat-dialog-title>CHI TIẾT THÔNG TIN SINH VIÊN</h2>
<hr>
<mat-dialog-content>
  <div class="row">
    <div class="col-5">
      <span class="font-weight-bold">Họ tên: </span> {{infoSinhVien.mssv}}
      <br>
      <span class="font-weight-bold">MSSV: </span> {{infoSinhVien.hoten}}
      <br>
      <ng-container *ngIf="infoSinhVien.gioitinh === 0; else elseTemplate">
        <span class="font-weight-bold">Giới tính: </span> Nam
        <br>
      </ng-container>
      <ng-template #elseTemplate>
        <span class="font-weight-bold">Giới tính: </span> Nữ
        <br>
      </ng-template>
      <span class="font-weight-bold">Ngày sinh: </span> {{infoSinhVien.ngaysinh | date: "dd-MM-yyyy" }}
      <br>
      <span class="font-weight-bold">CMND: </span> {{infoSinhVien.cmnd}}
      <br>
      <span class="font-weight-bold">SĐT: </span> {{infoSinhVien.sdt_canhan}}
      <br>
      <span class="font-weight-bold">SĐT gia đình: </span> {{infoSinhVien.sdt_giadinh}}
      <br>
      <span class="font-weight-bold">Email: </span> {{infoSinhVien.email}}
      <br>
      <span class="font-weight-bold">Địa chỉ: </span> {{infoSinhVien.diachi}}
      <br>
      <span class="font-weight-bold">Tên lớp: </span> {{infoSinhVien.tenlop}}
      <br>
      <span class="font-weight-bold">Ngành: </span> {{infoSinhVien.tennganh}}
      <br>
      <span class="font-weight-bold">Khoa: </span> {{infoSinhVien.tenkhoa}}
      <br>
    </div>
    <div class="col-7">
      <span class="font-weight-bold">Tình trạng học tập: </span> {{ttht.tenloai_tthoctap}}
      <br>
      <table class="table table-bordered">
        <tr class="table-primary">
          <th class="font-weight-bold text-center">Thời gian bắt đầu</th>
          <th class="font-weight-bold text-center">Thời gian kết thúc</th>
          <th class="font-weight-bold text-center">Tệp quyết định</th>
        </tr>
        <tbody>
          <tr>
            <td class="text-center">{{ttht.tgbatdau | date: "dd-MM-yyyy"}}</td>
            <td class="text-center">{{ttht.tgketthuc | date: "dd-MM-yyyy"}}</td>
            <td class="text-center">{{ttht.filename_quyetdinh}}</td>
          </tr>
        </tbody>
      </table>
      <ng-container *ngIf="kl !== null">
        <span class="font-weight-bold">Kỷ luật: </span>
        <br>
        <table class="table table-bordered">
          <tr class="table-primary">
            <th class="font-weight-bold text-center">Loại kỷ luật</th>
            <th class="font-weight-bold text-center">Thời gian bắt đầu</th>
            <th class="font-weight-bold text-center">Thời gian kết thúc</th>
            <th class="font-weight-bold text-center">Tệp quyết định</th>
          </tr>
          <tbody>
            <tr *ngFor="let k of kl">
              <td class="text-center">{{k.tenloai_kyluat}}</td>
              <td class="text-center">{{k.tgbatdau | date: "dd-MM-yyyy"}}</td>
              <td class="text-center">{{k.tgketthuc | date: "dd-MM-yyyy"}}</td>
              <td class="text-center">
                <a (click)="downloadFile()">
                  {{k.filename_quyetdinh}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>
