<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <h2 class="font-weight-bold">THÊM LỚP HỌC MỚI</h2>
  <hr>
  <div class="row">
    <div class="col-md-5 mx-auto">
      <mat-card>
        <h4 class="font-weight-bold">Thông tin cơ bản của lớp học mới</h4>
        <form [formGroup]="infoLop_Form">
          <div>
            <label>Hệ Đào Tạo: </label>
            <mat-radio-group formControlName="hedaotao" required [(ngModel)]="tiento_lop">
              <mat-radio-button [value]="0" [checked]="tiento_lop === 0">Cao Đẳng</mat-radio-button>
              <mat-radio-button [value]="1" [checked]="tiento_lop === 1">Đại Học</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="row">
            <div class="col-8">
              <ng-container *ngIf="(tiento_lop === 1); else elseTemplate">
                <mat-form-field class="col-md-12 ff_lop">
                  <span matPrefix>DH</span>
                  <input matInput placeholder="Mã Lớp" maxlength="8" #malop required formControlName="malop">
                  <mat-hint align="start">
                    <strong>Mã lớp đa 8 chữ số</strong>
                  </mat-hint>
                  <mat-hint align="end">{{malop.value.length}} / 8</mat-hint>
                  <mat-error *ngIf="infoLop_Form.controls.malop?.errors?.required && infoLop_Form.controls.malop?.touched">
                    <strong>Tên lớp không được bỏ trống</strong>
                  </mat-error>
                </mat-form-field>
              </ng-container>
              <ng-template #elseTemplate>
                <mat-form-field class="col-md-12 ff_lop">
                  <span matPrefix>CD</span>
                  <input matInput placeholder="Mã Lớp" maxlength="8" #malop required formControlName="malop">
                  <mat-hint align="start">
                    <strong>Mã lớp đa 8 chữ số</strong>
                  </mat-hint>
                  <mat-hint align="end">{{malop.value.length}} / 8</mat-hint>
                  <mat-error *ngIf="infoLop_Form.controls.malop?.errors?.required && infoLop_Form.controls.malop?.touched">
                    <strong>Mã lớp không được bỏ trống</strong>
                  </mat-error>
                </mat-form-field>
              </ng-template>
            </div>
            <div class="col-4">
              <ng-container *ngIf="(tiento_lop === 1); else elseTemplate2">
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Tên Lớp" maxlength="10" disabled value="DH{{infoLop_Form.value.malop}}">
                </mat-form-field>
              </ng-container>
              <ng-template #elseTemplate2>
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Tên Lớp" maxlength="10" disabled value="CD{{infoLop_Form.value.malop}}">
                </mat-form-field>
              </ng-template>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="col-md-12  ff_lop">
                <input matInput placeholder="Năm Bắt Đầu" maxlength="4" #nambatdau (keypress)="keyPress($event)" required formControlName="nambatdau">
                <mat-hint align="start">
                  <strong>Tối đa 4 số</strong>
                </mat-hint>
                <mat-hint align="end">{{nambatdau.value.length}} / 4</mat-hint>
                <mat-error *ngIf="infoLop_Form.controls.nambatdau?.errors?.required && infoLop_Form.controls.nambatdau?.touched">
                  <strong>Năm bắt đầu không được bỏ trống</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="col-md-12  ff_lop">
                <input matInput placeholder="Năm Kết Thúc" maxlength="4" #namketthuc (keypress)="keyPress($event)" required formControlName="namketthuc">
                <mat-hint align="start">
                  <strong>Tối đa 4 số</strong>
                </mat-hint>
                <mat-hint align="end">{{namketthuc.value.length}} / 4</mat-hint>
                <mat-error *ngIf="infoLop_Form.controls.namketthuc?.errors?.required && infoLop_Form.controls.namketthuc?.touched">
                  <strong>Năm kết thúc không được bỏ trống</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Danh sách khoa" required>
              <mat-option>---</mat-option>
              <mat-option value="{{khoa.id}}" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachNganh(khoa.id)">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
            <mat-error *ngIf="infoLop_Form.controls.tructhuoc?.errors?.required && infoLop_Form.controls.tenbomon?.touched">
              <strong>Chọn khoa </strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select formControlName="id_nganh" placeholder="Trực Thuộc Ngành" required>
              <mat-option>---</mat-option>
              <mat-option value="{{n.id}}" *ngFor="let n of DanhSachNganh">{{n.tennganh}}</mat-option>
            </mat-select>
            <mat-error *ngIf="infoLop_Form.controls.id_nganh?.errors?.required && infoLop_Form.controls.id_nganh?.touched">
              <strong>Chọn ngành trực thuộc</strong>
            </mat-error>
          </mat-form-field>
          <div class="row d-flex justify-content-md-end" id="btn-khoaform">
            <button mat-button (click)="onCancel()">Hủy</button>
            <button type="submit" [disabled]="infoLop_Form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Thêm</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
