<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <a class="btn btn-sm btn-success" (click)="backBtn()">
          <i class="fas fa-angle-double-left"></i> Trở lại</a>

        <form [formGroup]="infoSinhVien_Form" novalidate>
          <div class="row">
            <div class="col-md-5">
              <mat-card>
                <h4 class="font-weight-bold">Khoa:</h4>
                <mat-form-field class="col-md-12">
                  <mat-select placeholder="Danh sách khoa" required [(ngModel)]="selectedValue.tructhuoc" [ngModelOptions]="{standalone: true}">
                    <mat-option>---</mat-option>
                    <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachNganh_khoa(khoa.id)">{{khoa.tenkhoa}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <h4 class="font-weight-bold">Ngành:</h4>
                <mat-form-field class="col-md-12">
                  <mat-select placeholder="Trực Thuộc Ngành" required [(ngModel)]="selectedValue.id_nganh" [ngModelOptions]="{standalone: true}">
                    <mat-option>---</mat-option>
                    <mat-option [value]="n.id" *ngFor="let n of DanhSachNganh">{{n.tennganh}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <h4 class="font-weight-bold">Lớp:</h4>
                <mat-form-field class="col-md-12">
                  <mat-select formControlName="id_lop" placeholder="Danh Sách Lớp" required [(ngModel)]="selectedValue.id_lop">
                    <mat-option>---</mat-option>
                    <mat-option [value]="l.id" *ngFor="let l of DanhSachLop" (click)="getInfoLop(l.id)">{{l.tenlop}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>
            <div class="col-md-7">
              <mat-card>
                <h2 class="font-weight-bold">CHỈNH SỬA THÔNG TIN SINH VIÊN</h2>
                <hr>
                <h4 class="font-weight-bold text-center">THÔNG TIN CƠ BẢN CỦA SINH VIÊN</h4>
                <hr>
                <!--  -->
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Mã số sinh viên" maxlength="9" #mssv required formControlName="mssv" [(ngModel)]="selectedValue.mssv">
                  <mat-hint align="start">
                    <strong>Tối đa 9 chữ số</strong>
                  </mat-hint>
                  <mat-hint align="end">{{mssv.value.length}} / 9</mat-hint>
                  <mat-error *ngIf="infoSinhVien_Form.controls.mssv?.errors?.required && infoSinhVien_Form.controls.mssv?.touched">
                    <strong>Mã số sinh viên không được bỏ trống</strong>
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Họ tên sinh viên" formControlName="hoten" required [(ngModel)]="selectedValue.hoten">
                  <mat-error *ngIf="infoSinhVien_Form.controls.hoten?.errors?.required && infoSinhVien_Form.controls.hoten?.touched">
                    <strong>Họ tên sinh viên không được bỏ trống </strong>
                  </mat-error>
                </mat-form-field>
                <br>
                <div id="gioitinh_svform">
                  <label>Giới tính: </label>
                  <mat-radio-group formControlName="gioitinh" required [(ngModel)]="selectedValue.gioitinh">
                    <mat-radio-button [value]="0" [checked]="selectedValue.gioitinh === 0">Nam</mat-radio-button>
                    <mat-radio-button [value]="1" [checked]="selectedValue.gioitinh === 1">Nữ</mat-radio-button>
                  </mat-radio-group>
                </div>
                <br>
                <mat-form-field class="col-md-12">
                  <input matInput [matDatepicker]="picker" placeholder="Chọn ngày sinh" formControlName="ngaysinh_tmp" required [(ngModel)]="selectedValue.ngaysinh">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker startView="year"></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Chứng minh nhân dân" #cmnd maxlength="12" formControlName="cmnd" (keypress)="keyPress($event)"
                    required [(ngModel)]="selectedValue.cmnd">
                  <mat-hint align="start">
                    <strong>Tối thiểu 9 chữ số - tối đa 12 chữ số</strong>
                  </mat-hint>
                  <mat-hint align="end">{{cmnd.value.length}} / 12</mat-hint>
                  <mat-error *ngIf="infoSinhVien_Form.controls.cmnd?.errors?.required && infoSinhVien_Form.controls.cmnd?.touched">
                    <strong>Chứng minh nhân dân không được bỏ trống</strong>
                  </mat-error>
                  <mat-error *ngIf="infoSinhVien_Form.controls.cmnd?.errors?.minlength">
                    <strong>Chứng minh nhân dân tối thiểu 9 chữ số</strong>
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Số điện thoại" #sdtcanhan maxlength="11" formControlName="sdt_canhan" (keypress)="keyPress($event)"
                    required [(ngModel)]="selectedValue.sdt_canhan">
                  <mat-hint align="start">
                    <strong>Tối thiểu 10 số - tối đa 11 số</strong>
                  </mat-hint>
                  <mat-hint align="end">{{sdtcanhan.value.length}} / 11</mat-hint>
                  <mat-error *ngIf="infoSinhVien_Form.controls.sdt_canhan?.errors?.required && infoSinhVien_Form.controls.sdt_canhan?.touched">
                    <strong>Số điện thoại cá nhân không được bỏ trống</strong>
                  </mat-error>
                  <mat-error *ngIf="infoSinhVien_Form.controls.sdt_canhan?.errors?.minlength">
                    <strong>Số điện thoại cá nhân tối thiểu 10 số</strong>
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Số điện thoại gia đình" #sdtgd maxlength="11" formControlName="sdt_giadinh" (keypress)="keyPress($event)"
                    [(ngModel)]="selectedValue.sdt_giadinh">
                  <mat-hint align="start">
                    <strong>Tối thiểu 10 số - tối đa 11 số</strong>
                  </mat-hint>
                  <mat-hint align="end">{{sdtgd.value.length}} / 11</mat-hint>
                  <mat-error *ngIf="infoSinhVien_Form.controls.sdt_gd?.errors?.minlength">
                    <strong>Số điện thoại gia đình tối thiểu 10 số</strong>
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Email" formControlName="email" required [(ngModel)]="selectedValue.email">
                  <mat-error *ngIf="infoSinhVien_Form.controls.email?.errors?.required && infoSinhVien_Form.controls.email?.touched">
                    <strong>Email không được bỏ trống</strong>
                  </mat-error>
                  <mat-error *ngIf="infoSinhVien_Form.controls.email?.errors?.email">
                    <strong>Email không đúng định dạng</strong>
                  </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Địa chỉ" formControlName="diachi" required [(ngModel)]="selectedValue.diachi">
                  <mat-error *ngIf="infoSinhVien_Form.controls.diachi?.errors?.required && infoSinhVien_Form.controls.diachi?.touched" required>
                    <strong>Địa chỉ không được bỏ trống</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <mat-select formControlName="id_chucvu" placeholder="Chọn Chức Vụ (nếu có)" [(ngModel)]="selectedValue.id_loaichucvu_bcs">
                    <mat-option value="">---</mat-option>
                    <mat-option [value]="cv.id" *ngFor="let cv of DanhSachChucVu">{{cv.tenchucvu_bcs}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="row d-flex justify-content-md-end" id="btn-svform">
                  <button mat-button (click)="onCancel()">Hủy</button>
                  <button type="submit" [disabled]="infoSinhVien_Form.invalid" mat-raised-button color="primary" (click)=" openDialog()">Xác Nhận</button>
                </div>

              </mat-card>
            </div>

          </div>
        </form>

      </mat-card>
    </div>
  </div>
</div>
<app-backtotop></app-backtotop>
