<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <h2 class="font-weight-bold">LỌC</h2>
        <hr>
        <h4 class="font-weight-bold">Lọc theo:</h4>
        <mat-radio-group [(ngModel)]="loaiLoc" (change)="reset()">
          <mat-radio-button [value]="1" [checked]>Tất cả</mat-radio-button>
          <br>
          <mat-radio-button [value]="2">Trực thuộc khoa</mat-radio-button>
        </mat-radio-group>
        <div [hidden]="loaiLoc !== 2">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Danh Sách Khoa" required [formControl]="dskhoa_control">
              <mat-option>---</mat-option>
              <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachBoMon(khoa.id)">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dskhoa_control.hasError('required')">Vui lòng chọn khoa !!!</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select [formControl]="dsbomon_control" placeholder="Trực Thuộc Bộ Môn" required>
              <mat-option>---</mat-option>
              <mat-option [value]="bm.id" *ngFor="let bm of DanhSachBoMon">{{bm.tenbomon}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dsbomon_control.hasError('required')">Vui lòng chọn bộ môn !!!</mat-error>
          </mat-form-field>
        </div>
        <br>
        <button class="btn btn-md btn-primary" [disabled]="dsbomon_control.value === null" (click)="locDanhSach()">Xem</button>
      </mat-card>
    </div>
    <div class="col-md-8">
      <!-- Danh sách sinh viên có tài khoản -->
      <mat-card>
        <h2 class="font-weight-bold">DANH SÁCH TÀI KHOẢN CÁN BỘ</h2>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <mat-card>
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr class="table-primary">
                <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">Mã Cán Bộ</th>
                <th scope="col" class="text-center font-weight-bold" width="25%">Họ Tên</th>
                <th scope="col" class="text-center font-weight-bold" width="15%">Bộ Môn</th>
                <th scope="col" class="text-center font-weight-bold" width="20%">Quyền Tài Khoản</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">Tình Trạng</th>
                <th scope="col" class="text-center font-weight-bold" width="15%">Quản Lý</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tk of DanhSachTaiKhoan | hotencanboMacanboFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total, id: 'CTK' }; index as i">
                <td class="text-center font-weight-bold">{{i+1}}</td>
                <td class="text-center font-weight-bold">{{tk.macanbo}}</td>
                <td class="text-left font-weight-bold">{{tk.hotencanbo}}</td>
                <td class="text-center font-weight-bold">{{tk.tenbomon}}</td>
                <td class="text-center font-weight-bold">
                  {{tk.quyen}}
                  <button class="btn btn-sm btn-warning" (click)="openDialogAddPQ(tk.id, tk.hotencanbo)">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Phân Quyền</button>
                </td>
                <ng-container *ngIf="tk.trangthai === 1; else elseTemplate">
                  <td class="text-center font-weight-bold">
                    <a (click)="openDialog2(tk.id, tk.trangthai, tk.hotencanbo)">
                      <span matTooltip="Tài khoản đang hoạt động. Nhấp để khóa tài khoản.">
                        <img class="iconEdit_Delete" src="assets/images/unlock.svg" alt="">
                      </span>
                    </a>
                  </td>
                </ng-container>
                <ng-template #elseTemplate>
                  <td class="text-center font-weight-bold">
                    <a (click)="openDialog2(tk.id, tk.trangthai, tk.hotencanbo)">
                      <span matTooltip="Tài khoản đã bị khóa. Nhấp kích hoạt lại tài khoản.">
                        <img class="iconEdit_Delete" src="assets/images/lock.svg" alt="">
                      </span>
                    </a>
                  </td>
                </ng-template>
                <td class="text-center font-weight-bold">
                  <a (click)="openDialogResetPass(tk.id, tk.hotencanbo,tk.macanbo)">
                    <span matTooltip="Khôi phục lại mật khẩu">
                      <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                    </span>
                  </a>
                  <a (click)="openDialog(tk.id, tk.hotencanbo)">
                    <span matTooltip="Xóa tài khoản">
                      <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            <td class="text-center font-weight-bold" *ngIf="(DanhSachTaiKhoan | hotencanboMacanboFilter: search).length === 0" colspan="7"
              style="font-size: 20px;">Không có cán bộ nào được tìm thấy !!!</td>
          </table>
          <div class="row justify-content-center">
            <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="Trang Trước" nextLabel="Trang Sau" id="CTK"></pagination-controls>
          </div>
        </mat-card>
      </mat-card>

      <!-- Danh sách sinh viên chưa có tài khoản -->
      <mat-card>
        <h2 class="font-weight-bold">DANH SÁCH CÁN BỘ CHƯA CÓ TÀI KHOẢN</h2>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter2($event.target.value)">
        </mat-form-field>
        <!-- <a class="btn btn-sm btn-success" (click)="createAllAccount()" *ngIf="DanhSachCBChuaCoTaiKhoan.length > 0 ">Tạo tài khoản cho tất cả cán bộ</a> -->
        <mat-card>
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr class="table-primary">
                <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">Mã Cán Bộ</th>
                <th scope="col" class="text-center font-weight-bold" width="30%">Họ Tên</th>
                <th scope="col" class="text-center font-weight-bold" width="15%">Bộ Môn</th>
                <th scope="col" class="text-center font-weight-bold" width="20%">Tài Khoản</th>
                <th scope="col" class="text-center font-weight-bold" width="20%">Quản Lý</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tk of DanhSachCBChuaCoTaiKhoan | hotencanboMacanboFilter: search2 | paginate: { itemsPerPage: 10, currentPage: p2, totalItems: total2, id: 'CCTK' }; index as i">
                <td class="text-center font-weight-bold">{{i+1}}</td>
                <td class="text-center font-weight-bold">{{tk.macanbo}}</td>
                <td class="text-left font-weight-bold">{{tk.hotencanbo}}</td>
                <td class="text-center font-weight-bold">{{tk.tenbomon}}</td>
                <td class="text-center font-weight-bold">
                  <a class="btn btn-sm btn-danger" (click)="openDialogCreate(tk.macanbo)">
                    <i class="fa fa-plus" aria-hidden="true"></i> Tạo Tài Khoản
                  </a>
                </td>
                <td class="text-center font-weight-bold">
                  <a (click)="openDialog(tk.id, tk.hotencanbo)">
                    <span matTooltip="Xóa thông tin">
                      <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            <td class="text-center font-weight-bold" *ngIf="(DanhSachCBChuaCoTaiKhoan | hotencanboMacanboFilter: search2).length === 0"
              colspan="7" style="font-size: 20px;">Không có cán bộ nào chưa có tài khoản !!!</td>
          </table>
          <div class="row justify-content-center">
            <pagination-controls (pageChange)="p2 = $event" autoHide="true" previousLabel="Trang Trước" nextLabel="Trang Sau" id="CCTK"></pagination-controls>
          </div>
        </mat-card>
      </mat-card>

    </div>
  </div>
</mat-card>

<app-backtotop></app-backtotop>
