<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <div class="col-12">
        <mat-card>
          <a class="btn btn-md btn-success" [routerLink]="[ '/trangchu/quanly/quanlynamhochocky/themnamhoc' ]">
            <i class="fa fa-plus" aria-hidden="true"></i> Thêm Năm Học - Học Kỳ Mới</a>
          <h2 class="font-weight-bold">DANH SÁCH NĂM HỌC - HỌC KỲ</h2>
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr class="table-primary">
                <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
                <th scope="col" class="text-center font-weight-bold" width="35%">Năm Học</th>
                <th scope="col" class="text-center font-weight-bold" width="40%">Học Kỳ</th>
                <th scope="col" class="text-center font-weight-bold" width="20%">Quản Lý</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of DanhSachNamHoc | manamhocMahockyFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
                <td class="text-center font-weight-bold">{{i+1}}</td>
                <td class="text-center ">{{n.manamhoc}}</td>
                <td class="text-center ">{{n.sohocky}}</td>
                <td class="text-center font-weight-bold ">
                  <a [routerLink]="[ '/trangchu/quanly/quanlynamhochocky/suanamhoc/', n.id ] ">
                    <span matTooltip="Sửa thông tin ">
                      <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                    </span>
                  </a>
                  <a (click)="openDialog(n.id)">
                    <span matTooltip="Xóa thông tin ">
                      <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                    </span>
                  </a>
                </td>
              </tr>
              <td class="text-center font-weight-bold" *ngIf="(DanhSachNamHoc | manamhocMahockyFilter: search).length === 0" colspan="6"
                style="font-size: 20px;">Không có ngành nào được tìm thấy !!!</td>
            </tbody>
          </table>
          <div class="row justify-content-center ">
            <pagination-controls (pageChange)="p = $event" maxSize="9 " directionLinks="true " autoHide="true " previousLabel="Trang
          Trước " nextLabel="Trang Sau "></pagination-controls>
          </div>
        </mat-card>
      </div>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
