<div class="container-fluid clearfix">
  <!--Navbar-->
  <nav class="navbar navbar-expand-md grey lighten-4" id="top-navbar">
    <div class="container-fluid">
      <div class="container">
        <div class="row justify-content-end align-items-center">
          <ul class="navbar-nav align-items-center">
            <ng-container *ngIf="isCheckAdmin; else elseTemplate">
              <li class="nav-item">
                <a>Chào, {{infoUser}}</a>
              </li>
            </ng-container>
            <ng-template #elseTemplate>
              <li class="nav-item ">
                <a>Chào, {{infoSV_CB.ten}} | {{infoSV_CB.ma}}</a>
              </li>
            </ng-template>
            <li class="nav-item ">
              <a class="btn btn-sm btn-danger" (click)="onLogOut()">Đăng Xuất</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!--/.Navbar-->
  <div class="top-background">
    <div class="d-flex flex-row align-items-center">
      <div class="col-md-2">
        <a (click)="returnHome()">
          <img src="assets/images/AGUlogo.png" alt="" width="150" style="margin-left: 150px;" />
        </a>
      </div>
      <div class="col-md-10">
        <h3 class="text-center">TRƯỜNG ĐẠI HỌC AN GIANG</h3>
        <h1 class="font-weight-bold text-center">HỆ THỐNG ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h1>
      </div>
    </div>
  </div>
</div>
