.top-background {
  padding: 1em;
  background-color: #00695c;
  color: white;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.nav-item>a {
  color: black;
  font-weight: bold;
}
