<h4 class="font-weight-bold">THÊM MINH CHỨNG</h4>
<hr>
<p-fileUpload name="myfile[]" accept="image/*,application/pdf" customUpload="true" chooseLabel="Chọn tệp"
  uploadLabel="Tải lên" cancelLabel="Hủy bỏ" (onRemove)="removeFile()" (onClear)="removeFile()" (uploadHandler)="myUploader($event)"></p-fileUpload>
<hr>
<div class="row d-flex justify-content-end">
  <button mat-button (click)="dialogRef.close()">Hủy</button>
</div>
