<div class="row">
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <div class="col-12">
    <mat-card>
      <a [routerLink]="[ '/trangchu/quanly/quanlytieuchidanhgia/themtieuchidanhgia']" class="btn btn-md btn-danger">
        <i class="fa fa-plus" aria-hidden="true"></i> Thêm tiêu chí đánh giá</a>
      <h2 class="font-weight-bold">DANH SÁCH CÁC QUYẾT ĐỊNH THÀNH LẬP TIÊU CHÍ ĐÁNH GIÁ</h2>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
            <th scope="col" class="text-center font-weight-bold" width="30%">Quyết Định</th>
            <th scope="col" class="text-center font-weight-bold" width="10%">Trạng Thái</th>
            <th scope="col" class="text-center font-weight-bold" width="20%">Thời Gian Bắt Đầu Hiệu Lực</th>
            <th scope="col" class="text-center font-weight-bold" width="20%">Thời Gian Kết Thúc Hiệu Lực</th>
            <th scope="col" class="text-center font-weight-bold" width="15%">Quản Lý</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let qd of DanhSachQuyetDinh | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
            <td class="text-center font-weight-bold">{{i+1}}</td>
            <td class="text-center font-weight-bold">{{qd.maquyetdinh}}</td>
            <ng-container *ngIf="qd.trangthai === 1; else elseTemplate2">
              <td class="text-center font-weight-bold">
                <span matTooltip="Quyết định đang được sử dụng">
                  <img class="iconEdit_Delete" src="assets/images/unlock.svg" alt="">
                </span>
              </td>
            </ng-container>
            <ng-template #elseTemplate2>
              <td class="text-center font-weight-bold">
                <span matTooltip="Quyết định đã bị khóa do hết thời gian hiệu lực">
                  <img class="iconEdit_Delete" src="assets/images/lock.svg" alt="">
                </span>
              </td>
            </ng-template>
            <td class="text-center font-weight-bold">{{qd.tgbatdau | date: "dd-MM-yyyy"}}</td>
            <ng-container *ngIf="qd.tgketthuc === null; else elseTemplate">
              <td class="text-center font-weight-bold">
                <a class="btn btn-sm btn-danger" (click)="openDialog(qd.id, qd.maquyetdinh)">Cập nhật</a>
              </td>
            </ng-container>
            <ng-template #elseTemplate>
              <td class="text-center font-weight-bold">{{qd.tgketthuc | date: "dd-MM-yyyy"}}</td>
            </ng-template>
            <td class="text-center font-weight-bold">
              <a [routerLink]="['/trangchu/quanly/quanlytieuchidanhgia/suaquyetdinh/', qd.id_quyetdinhtieuchi]">
                <span matTooltip="Sửa thông tin ">
                  <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                </span>
              </a>
              <a (click)="openDialogDelete(qd.id_quyetdinhtieuchi, qd.maquyetdinh)">
                <span matTooltip="Xóa thông tin ">
                  <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                </span>
              </a>
            </td>
          </tr>
          <td class="text-center font-weight-bold" *ngIf="DanhSachQuyetDinh.length === 0" colspan="16" style="font-size: 20px;">Chưa có quyết định thành lập tiêu chí nào !!!</td>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
          nextLabel="Trang Sau"></pagination-controls>
      </div>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
