.login-background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/images/login-background.jpg);
    background-repeat: no-repeat;
}

.login-container{
    position: relative;
    top:2%;
}

.logo{
    padding-left: 10%;
}
.no-padding{
    padding: 0;
}