<div class="login-background">
  <div class="row login-container ">
    <div class="col-md-12 mx-auto ">
      <mat-card>
        <div class="row d-flex align-items-center">
          <div class="col-3 logo">
            <img src="assets/images/AGUlogo.png" width="150" />
          </div>
          <div class="col-9">
            <h2 class="text-center font-weight-bold">TRƯỜNG ĐẠI HỌC AN GIANG</h2>
            <h1 class="text-center font-weight-bold">HỆ THỐNG ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h1>
          </div>
        </div>
      </mat-card>
      <br>
      <br>

      <div class="col-md-7 mx-auto">
        <mat-card class="col-sm-6 col-md-6 mx-auto">
          <div class="row">
            <h3 class="mx-auto text-center font-weight-bold">Đăng Nhập</h3>
          </div>
          <form style="padding-top: 10px;" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Tên đăng nhập" formControlName="username">
              <mat-error *ngIf="loginForm.controls.username?.errors?.required && loginForm.controls.username?.touched">
                <strong>Tên đăng nhập không được bỏ trống</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Mật Khẩu" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="loginForm.controls.password?.errors?.required && loginForm.controls.password?.touched">
                <strong>Mật khẩu không được bỏ trống</strong>
              </mat-error>
            </mat-form-field>
            <!-- <app-alert></app-alert> -->
            <div class="row d-flex justify-content-md-end">
              <button mat-button>Hủy</button>
              <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Đăng Nhập</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>

  </div>
</div>
