<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <div class="row">
    <div class="col-4">
      <mat-card>
        <h2 class="font-weight-bold">LỌC</h2>
        <hr>
        <h4 class="font-weight-bold">Lọc theo:</h4>
        <mat-radio-group [(ngModel)]="loaiLoc">
          <mat-radio-button [value]="1" [checked]="loaiLoc === 1">Tất cả</mat-radio-button>
          <br>
          <mat-radio-button [value]="2">Trực thuộc trường</mat-radio-button>
          <br>
          <mat-radio-button [value]="3">Trực thuộc khoa</mat-radio-button>
        </mat-radio-group>
        <mat-form-field [hidden]="loaiLoc !== 3" class="col-md-12">
          <mat-select [(ngModel)]="id_khoa" placeholder="Danh Sách Khoa" required [formControl]="dskhoa_control">
            <mat-option>---</mat-option>
            <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa">{{khoa.tenkhoa}}</mat-option>
          </mat-select>
          <mat-error *ngIf="dskhoa_control.hasError('required')">Vui lòng chọn khoa !!!</mat-error>
        </mat-form-field>
        <br>
        <button class="btn btn-md btn-primary" [disabled]="!id_khoa === null" (click)="locDanhSach()">Xem</button>
      </mat-card>
    </div>

    <!-- Danh sách các bộ môn -->
    <div class="col-8">
      <mat-card>
        <a class="btn btn-md btn-success" [routerLink]="[ '/trangchu/quanly/quanlybomon/thembomon']">
          <i class="fa fa-plus" aria-hidden="true"></i> Thêm bộ môn mới</a>
        <h2 class="font-weight-bold">DANH SÁCH BỘ MÔN - ĐƠN VỊ</h2>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr class="table-primary">
              <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
              <th scope="col" class="text-center font-weight-bold" width="20%">Mã Bộ Môn - Đơn Vị</th>
              <th scope="col" class="text-center font-weight-bold" width="30%">Tên Bộ Môn - Đơn Vị</th>
              <th scope="col" class="text-center font-weight-bold" width="25%">Trực Thuộc</th>
              <th scope="col" class="text-center font-weight-bold" width="20%">Quản Lý</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bm of DanhSachBoMon | bomonFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
              <td class="text-center font-weight-bold">{{i+1}}</td>
              <td class="text-center">{{bm.mabomon}}</td>
              <td class="text-left">{{bm.tenbomon}}</td>
              <ng-container *ngIf="bm.tructhuoc=== 1; else elseTemplate">
                <td class="text-left">Trường</td>
              </ng-container>
              <ng-template #elseTemplate>
                <td class="text-left">{{bm.tenkhoa}}</td>
              </ng-template>
              <td class="text-center font-weight-bold">
                <a [routerLink]="[ '/trangchu/quanly/quanlybomon/suabomon/', bm.id ]">
                  <span matTooltip="Sửa thông tin">
                    <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                  </span>
                </a>
                <a (click)="openDialog(bm.id, bm.tenbomon)">
                  <span matTooltip="Xóa thông tin">
                    <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                  </span>
                </a>
              </td>
            </tr>
            <td class="text-center font-weight-bold" *ngIf="(DanhSachBoMon | bomonFilter: search).length === 0" colspan="5" style="font-size: 20px;">Không có bộ môn nào được tìm thấy !!!</td>
          </tbody>
        </table>
        <div class="row justify-content-center">
          <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
            nextLabel="Trang Sau"></pagination-controls>
        </div>
      </mat-card>
    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
