<section>
  <mat-card>
    <h4 class="font-weight-bold">
      <i class="fas fa-address-book"></i> Thông Tin Cán Bộ
    </h4>
    <hr/>
    <h6 class="font-weight-bold">Mã cán bộ: </h6>
    <h6>{{infoCB.macanbo}}</h6>
    <h6 class="font-weight-bold">Họ và tên: </h6>
    <h6>{{infoCB.hotencanbo}}</h6>
    <h6 class="font-weight-bold">Đơn vị trưc thuộc: </h6>
    <h6>{{infoCB.tenbomon}}</h6>
    <ng-container *ngIf="chucvu !== null">
      <h6 class="font-weight-bold">Chức vụ: </h6>
      <h6>{{chucvu.chucvu}}</h6>
    </ng-container>
    <ng-container *ngIf="quyentk !== null">
      <h6 class="font-weight-bold">Quyền tài khoản: </h6>
      <h6>{{quyentk.tennhomquyen}}</h6>
    </ng-container>
    <hr>
    <a (click)="changePasswordDialog()">
      <h6 class="font-weight-bold">
        <i class="fas fa-unlock-alt"></i> Đổi mật khẩu </h6>
    </a>
  </mat-card>
</section>
