<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <h2 class="font-weight-bold">THÊM BỘ MÔN MỚI</h2>
  <hr>
  <div class="row">
    <div class="col-md-5 mx-auto">
      <mat-card>
        <h4 class="font-weight-bold">Thông tin cơ bản của bộ môn mới</h4>
        <form [formGroup]="infoBoMon_Form">
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Mã Bộ Môn" maxlength="10" #makhoa required formControlName="mabomon">
            <mat-hint align="start">
              <strong>Tối đa 10 chữ số</strong>
            </mat-hint>
            <mat-hint align="end">{{makhoa.value.length}} / 10</mat-hint>
            <mat-error *ngIf="infoBoMon_Form.controls.mabomon?.errors?.required && infoBoMon_Form.controls.mabomon?.touched">
              <strong>Mã khoa không được bỏ trống</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Tên Bộ Môn" required formControlName="tenbomon">
            <mat-error *ngIf="infoBoMon_Form.controls.tenbomon?.errors?.required && infoBoMon_Form.controls.tenbomon?.touched">
              <strong>Tên khoa không được bỏ trống</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select formControlName="tructhuoc" placeholder="Trực Thuộc" required>
              <mat-option>---</mat-option>
              <mat-option value="0">Trường</mat-option>
              <mat-option value="{{khoa.id}}" *ngFor="let khoa of DanhSachKhoa">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
            <mat-error *ngIf="infoBoMon_Form.controls.tructhuoc?.errors?.required && infoBoMon_Form.controls.tenbomon?.touched">
              <strong>Chọn đơn vị trực thuộc</strong>
            </mat-error>
          </mat-form-field>
          <div class="row d-flex justify-content-md-end">
            <button mat-button>Hủy</button>
            <button type="submit" [disabled]="infoBoMon_Form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Thêm</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
