<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <h2 class="font-weight-bold">CHỈNH SỬA THÔNG TIN CÁN BỘ</h2>
      <hr>
      <h4 class="font-weight-bold text-center">THÔNG TIN CƠ BẢN CỦA CÁN BỘ</h4>
      <hr>

      <form [formGroup]="infoCanBo_Form" novalidate>
        <ngx-stepper #steppers [options]="options">
          <ngx-step [label]="'Chọn đơn vị trực thuộc'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <mat-select placeholder="Danh sách khoa" required [formControl]="dskhoa_control" [(ngModel)]="selectedValue.tructhuoc">
                  <mat-option>---</mat-option>
                  <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachBoMon_tructhuoc(khoa.id)">{{khoa.tenkhoa}}</mat-option>
                </mat-select>
                <mat-error *ngIf="dskhoa_control.hasError('required')">Vui lòng chọn khoa !!!</mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <mat-select formControlName="id_bomon_donvi" placeholder="Trực thuộc bộ môn" required [(ngModel)]="selectedValue.id_bomon_donvi">
                  <mat-option>---</mat-option>
                  <mat-option [value]="bm.id" *ngFor="let bm of DanhSachBoMon">{{bm.tenbomon}}</mat-option>
                </mat-select>
                <mat-error *ngIf="infoCanBo_Form.controls.id_bomon_donvi?.errors?.required && infoCanBo_Form.controls.id_bomon_donvi?.touched">
                  <strong>Chọn bộ môn trực thuộc</strong>
                </mat-error>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Thông tin cá nhân'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Mã số cán bộ" maxlength="5" #macanbo required formControlName="macanbo" [(ngModel)]="selectedValue.macanbo">
                <mat-hint align="start">
                  <strong>Tối đa 5 chữ số</strong>
                </mat-hint>
                <mat-hint align="end">{{macanbo.value.length}} / 5</mat-hint>
                <mat-error *ngIf="infoCanBo_Form.controls.macanbo?.errors?.required && infoCanBo_Form.controls.macanbo?.touched">
                  <strong>Mã số cán bộ không được bỏ trống</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Họ tên cán bộ" formControlName="hotencanbo" required [(ngModel)]="selectedValue.hotencanbo">
                <mat-error *ngIf="infoCanBo_Form.controls.hotencanbo?.errors?.required && infoCanBo_Form.controls.hotencanbo?.touched">
                  <strong>Họ tên cán bộ không được bỏ trống </strong>
                </mat-error>
              </mat-form-field>
              <br>
              <div id="gioitinh_svform">
                <label>Giới tính: </label>
                <mat-radio-group formControlName="gioitinh" required [(ngModel)]="selectedValue.gioitinh">
                  <mat-radio-button value="0" [checked]="selectedValue.gioitinh === 0">Nam</mat-radio-button>
                  <mat-radio-button value="1" [checked]="selectedValue.gioitinh === 1">Nữ</mat-radio-button>
                </mat-radio-group>
              </div>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput [matDatepicker]="picker" placeholder="Chọn ngày sinh" formControlName="ngaysinh_tmp" required [(ngModel)]="selectedValue.ngaysinh">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker startView="multi-year"></mat-datepicker>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Chứng minh nhân dân" #cmnd maxlength="12" formControlName="cmnd" (keypress)="keyPress($event)"
                  required [(ngModel)]="selectedValue.cmnd">
                <mat-hint align="start">
                  <strong>Tối thiểu 9 chữ số - tối đa 12 chữ số</strong>
                </mat-hint>
                <mat-hint align="end">{{cmnd.value.length}} / 12</mat-hint>
                <mat-error *ngIf="infoCanBo_Form.controls.cmnd?.errors?.required && infoCanBo_Form.controls.cmnd?.touched">
                  <strong>Chứng minh nhân dân không được bỏ trống</strong>
                </mat-error>
                <mat-error *ngIf="infoCanBo_Form.controls.cmnd?.errors?.minlength">
                  <strong>Chứng minh nhân dân tối thiểu 9 chữ số</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Số điện thoại" #sdt maxlength="11" formControlName="sdt" (keypress)="keyPress($event)" required
                  [(ngModel)]="selectedValue.sdt">
                <mat-hint align="start">
                  <strong>Tối thiểu 10 số - tối đa 11 số</strong>
                </mat-hint>
                <mat-hint align="end">{{sdt.value.length}} / 11</mat-hint>
                <mat-error *ngIf="infoCanBo_Form.controls.sdt?.errors?.required && infoCanBo_Form.controls.sdt?.touched">
                  <strong>Số điện thoại cá nhân không được bỏ trống</strong>
                </mat-error>
                <mat-error *ngIf="infoCanBo_Form.controls.sdt?.errors?.minlength">
                  <strong>Số điện thoại cá nhân tối thiểu 10 số</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Email" formControlName="email" required [(ngModel)]="selectedValue.email">
                <mat-error *ngIf="infoCanBo_Form.controls.email?.errors?.required && infoCanBo_Form.controls.email?.touched">
                  <strong>Email không được bỏ trống</strong>
                </mat-error>
                <mat-error *ngIf="infoCanBo_Form.controls.email?.errors?.email">
                  <strong>Email không đúng định dạng</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Địa chỉ" formControlName="diachi" required [(ngModel)]="selectedValue.diachi">
                <mat-error *ngIf="infoCanBo_Form.controls.diachi?.errors?.required && infoCanBo_Form.controls.diachi?.touched" required>
                  <strong>Địa chỉ không được bỏ trống</strong>
                </mat-error>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Chọn chức vụ cho cán bộ'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <mat-select placeholder="Danh Sách Chức Vụ" formControlName="id_chucvu_quanly" multiple required [(ngModel)]="selectedValue2">
                  <mat-option *ngFor="let cv of DanhSachChucVu" [value]="cv.id">{{cv.tenchucvu_quanly}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="infoCanBo_Form.invalid">Cập Nhật</button>
            </ngx-step-actions>
          </ngx-step>
        </ngx-stepper>
      </form>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
