<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <h2 class="font-weight-bold">THÊM THÔNG BÁO MỚI</h2>
  <hr>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <h4 class="font-weight-bold">Thông tin thông báo mới</h4>
        <form [formGroup]="infoThongBao_Form">
          <ngx-stepper #steppers [options]="options">
            <ngx-step [label]="'Chọn học kỳ đăng thông báo'">
              <ngx-step-body>
                <mat-form-field class="col-md-12">
                  <mat-select placeholder="Danh sách năm học" required [formControl]="namhoc_control">
                    <mat-option>---</mat-option>
                    <mat-option value="{{nh.id}}" *ngFor="let nh of DanhSachNamHoc" (click)="getDanhSachHocky_NamHoc(nh.id)">{{nh.manamhoc}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="namhoc_control.hasError('required')">Vui lòng chọn năm học !!!</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <mat-select formControlName="id_hocky" placeholder="Danh sách học kỳ" required>
                    <mat-option>---</mat-option>
                    <mat-option value="{{hk.id}}" *ngFor="let hk of DanhSachHocKy">{{hk.mahocky}} | {{hk.manamhoc}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="infoThongBao_Form.controls.id_hocky?.errors?.required && infoThongBao_Form.controls.id_hocky?.touched">
                    <strong>Chọn học kỳ mở đánh giá !!! </strong>
                  </mat-error>
                </mat-form-field>
              </ngx-step-body>
              <ngx-step-actions class="row d-flex justify-content-md-end">
                <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
              </ngx-step-actions>
            </ngx-step>
            <ngx-step [label]="'Nội dung thông báo'">
              <ngx-step-body>
                <mat-form-field class="col-md-12">
                  <textarea matInput placeholder="Tiêu đề" formControlName="tieude" required></textarea>
                  <mat-error *ngIf="infoThongBao_Form.controls.tieude?.errors?.required && infoThongBao_Form.controls.tieude?.touched">
                    <strong>Chưa điền tiêu đề</strong>
                  </mat-error>
                </mat-form-field>
                <div>
                  <ckeditor [(ngModel)]="ckeditorContent" [readonly]="false" debounce="500" formControlName="noidung"></ckeditor>
                </div>
                <div>
                  <label>Trạng Thái: </label>
                  <mat-radio-group formControlName="trangthai" required>
                    <mat-radio-button value="0">Ẩn khỏi bản tin</mat-radio-button>
                    <mat-radio-button value="1">Hiển thị bản tin</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div>
                  <h6 class="font-weight-bold">Chọn tệp quyết định: (chọn tệp xong nhấn Upload để đính kèm tệp)</h6>
                  <p-fileUpload name="myfile[]" accept="image/*,application/pdf,application/vnd.ms-excel" customUpload="true" chooseLabel="Chọn tệp"
                    uploadLabel="Tải lên" cancelLabel="Hủy bỏ" (onRemove)="removeFile()" (onClear)="removeFile()" (uploadHandler)="myUploader($event)"
                    value="selectedValue.filename_quyetdinh"></p-fileUpload>
                </div>
              </ngx-step-body>
              <ngx-step-actions class="row d-flex justify-content-md-end">
                <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
                <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="infoThongBao_Form.invalid">Thêm Thông Báo Mới</button>
              </ngx-step-actions>
            </ngx-step>
          </ngx-stepper>
        </form>
      </mat-card>
    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
