<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <div class="row d-flex">
        <div class="col-6 align-self-center">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4 class="font-weight-bold">LỌC</h4>
                </mat-panel-title>
                <mat-panel-description>
                  <h6 class="font-weight-bold">Lọc theo:</h6>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-radio-group [(ngModel)]="loaiLoc" (change)="reset()">
                <mat-radio-button [value]="1" [checked]="loaiLoc===1">Tất cả</mat-radio-button>
                <br>
                <mat-radio-button [value]="2">Trực thuộc khoa</mat-radio-button>
              </mat-radio-group>
              <div [hidden]="loaiLoc !== 2">
                <mat-form-field class="col-md-12">
                  <mat-select [(ngModel)]="id_khoa" placeholder="Danh Sách Khoa" required [formControl]="dskhoa_control">
                    <mat-option>---</mat-option>
                    <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachNganh(khoa.id)">{{khoa.tenkhoa}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="dskhoa_control.hasError('required')">Vui lòng chọn khoa !!!</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <mat-select [(ngModel)]="id_nganh" placeholder="Danh Sách Ngành" required [formControl]="dsnganh_control">
                    <mat-option>---</mat-option>
                    <mat-option [value]="n.id" *ngFor="let n of DanhSachNganh" (click)="getDanhSachLop(n.id)">{{n.tennganh}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="dsnganh_control.hasError('required')">Vui lòng chọn ngành !!!</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <mat-select [(ngModel)]="id_lop" placeholder="Danh Sách Lớp" required [formControl]="dslop_control">
                    <mat-option>---</mat-option>
                    <mat-option [value]="l.id" *ngFor="let l of DanhSachLop">{{l.tenlop}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="dslop_control.hasError('required')">Vui lòng chọn lớp !!!</mat-error>
                </mat-form-field>
              </div>
              <br>
              <button class="btn btn-md btn-primary" [disabled]="!(id_khoa && id_nganh && id_lop) === null" (click)="locDanhSach()">Xem</button>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-6">
          <ng-container *ngIf="loaiLoc === 1; else elseTemplate">
            <h4 class="font-weight-bold">THỐNG KÊ TOÀN TRƯỜNG</h4>
            <div class="row">
              <ng-container *ngIf="SLuong.length !== 0; else elseTemplate">
                <div class="col-6" *ngFor="let sl of SLuong">
                  <div class="card red text-center z-depth-2">
                    <div class="card-body">
                      <p class="white-text mb-0">{{sl.tenloai_kyluat}}: {{sl.soluong}} SV</p>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <h5 class="font-weight-bold">Không có sinh viên nào vi phạm kỷ luật !!!</h5>
              </ng-template>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <h4 class="font-weight-bold">THÔNG TIN LỚP</h4>
            <ng-container *ngIf="isShowThongTinLop === true">
              <div class="row">
                <div class="col-6">
                  <table>
                    <tr>
                      <td class="font-weight-bold">Lớp: </td>
                      <td>{{selectedValue_Lop.tenlop}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Khóa Học: </td>
                      <td>{{selectedValue_Lop.nambatdau}} - {{selectedValue_Lop.namketthuc}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Sỉ Số: </td>
                      <td>{{selectedValue_Lop.siso}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Cố Vấn Học Tập : </td>
                      <td>{{selectedValue_Lop.tencanbo}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Ngành: </td>
                      <td>{{selectedValue_Lop.tennganh}}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Khoa: </td>
                      <td>{{selectedValue_Lop.tenkhoa}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-6">
                  <h5 class="font-weight-bold">Thống kê:</h5>
                  <div class="col-12" *ngFor="let sl of SLuong" style="margin:5px 0;">
                    <div class="card red text-center z-depth-2">
                      <div class="card-body">
                        <p class="white-text mb-0">{{sl.tenloai_kyluat}}: {{sl.soluong}} SV</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-md btn-success" [routerLink]="[ '/trangchu/quanly/quanlykyluat/themkyluat']">
        <i class="fa fa-plus" aria-hidden="true"></i> Thêm kỷ luật mới</a>
      <h2 class="font-weight-bold">DANH SÁCH KỶ LUẬT CỦA SINH VIÊN</h2>
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Tìm kiếm" [(ngModel)]="search">
      </mat-form-field>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="5%">#</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">MSSV</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="20%">Họ Tên</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Lớp</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Loại Kỷ Luật</th>
            <th scope="col" class="text-center font-weight-bold" colspan="2" width="20%">Hiệu Lực</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Quyết định</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="15%">Quản Lý</th>
          </tr>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Bắt Đầu</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Kết Thúc</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kl of DanhSachKyLuat | hotenMssvFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
            <td class="text-center ">{{ kl.id }}</td>
            <td class="text-center ">{{ kl.mssv }}</td>
            <td class="text-center ">{{ kl.hoten }}</td>
            <td class="text-center ">{{ kl.tenlop }}</td>
            <td class="text-center ">{{ kl.tenloai_kyluat }}</td>
            <td class="text-center ">{{ kl.tgbatdau | date: "dd-MM-yyyy" }}</td>
            <td class="text-center ">{{ kl.tgketthuc | date: "dd-MM-yyyy" }}</td>
            <ng-container *ngIf="kl.filename_quyetdinh !== null; else elseTemplate">
              <td class="text-center ">
                <span matTooltip="Tải file">
                  <a (click)="downloadFile(kl.id_sv)">
                    <i class="fas fa-download fa-2x"></i>
                  </a>
                </span>
              </td>
            </ng-container>
            <ng-template #elseTemplate>
              <td class="text-center "></td>
            </ng-template>
            <td class="text-center font-weight-bold ">
              <a [routerLink]="[ '/trangchu/quanly/quanlykyluat/suakyluat/', kl.id]">
                <span matTooltip="Sửa thông tin ">
                  <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                </span>
              </a>
              <a (click)="openDialog(kl.id, kl.hoten)">
                <span matTooltip="Xóa thông tin ">
                  <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                </span>
              </a>
            </td>
          </tr>
          <td class="text-center font-weight-bold" *ngIf="(DanhSachKyLuat | hotenMssvFilter: search).length === 0" colspan="9" style="font-size: 20px;">Không có sinh viên nào được tìm thấy !!!</td>
        </tbody>
      </table>
      <div class="row justify-content-center ">
        <pagination-controls (pageChange)="p = $event" maxSize="9 " directionLinks="true " autoHide="true " previousLabel="Trang
      Trước " nextLabel="Trang Sau "></pagination-controls>
      </div>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
