<a class="btn btn-sm btn-success" (click)="backBtn()">
  <i class="fas fa-angle-double-left"></i> Trở lại</a>
<mat-card>
  <div class="row">
    <div class="col-12">

      <a class="btn btn-md btn-success" [routerLink]="[ '/trangchu/quanly/quanlythoigiandanhgia/themthoigiandanhgia' ]">
        <i class="fa fa-plus" aria-hidden="true"></i> Thêm thời gian đánh giá mới</a>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="3" width="5%">#</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="3" width="15%">Học Kỳ - Năm Học</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="3" width="5%">Số Ngày Trễ</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="3" width="5%">Điểm Trừ</th>
            <th scope="col" class="text-center font-weight-bold" colspan="10" width="60%">Thời Gian Đánh Giá</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="3" width="10%">Quản Lý</th>
          </tr>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" colspan="2" width="20%">Sinh Viên</th>
            <th scope="col" class="text-center font-weight-bold" colspan="2" width="20%">Ban Cán Sự</th>
            <th scope="col" class="text-center font-weight-bold" colspan="2" width="20%">Cố Vấn Học Tập</th>
            <th scope="col" class="text-center font-weight-bold" colspan="2" width="20%">HĐ Khoa</th>
            <th scope="col" class="text-center font-weight-bold" colspan="2" width="20%">HĐ Trường</th>
          </tr>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" width="5%">Bắt Đầu</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Kết Thúc</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Bắt Đầu</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Kết Thúc</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Bắt Đầu</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Kết Thúc</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Bắt Đầu</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Kết Thúc</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Bắt Đầu</th>
            <th scope="col" class="text-center font-weight-bold" width="5%">Kết Thúc</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tgdg of DanhSachThoiGianDanhGia | manamhocMahockyFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
            <td class="text-center font-weight-bold">{{i+1}}</td>
            <td class="text-center font-weight-bold">{{tgdg.mahocky}} | {{tgdg.manamhoc}}</td>
            <td class="text-center font-weight-bold">{{tgdg.chopheptre}}</td>
            <td class="text-center font-weight-bold">{{tgdg.diemtru}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgbatdau_sv | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgketthuc_sv | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgbatdau_bancansu | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgketthuc_bancansu | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgbatdau_cvht | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgketthuc_cvht | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgbatdau_hoidongkhoa | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgketthuc_hoidongkhoa | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgbatdau_hoidongtruong | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{tgdg.tgketthuc_hoidongtruong | date: "HH:mm, dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">
              <a [routerLink]="['/trangchu/quanly/quanlythoigiandanhgia/suathoigiandanhgia/', tgdg.id]">
                <span matTooltip="Sửa thông tin ">
                  <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                </span>
              </a>
              <a (click)="openConfirmDialog(tgdg.id, tgdg.mahocky, tgdg.manamhoc)">
                <span matTooltip="Xóa thông tin ">
                  <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                </span>
              </a>
            </td>
          </tr>
          <td class="text-center font-weight-bold" *ngIf="(DanhSachThoiGianDanhGia | manamhocMahockyFilter: search).length === 0" colspan="16"
            style="font-size: 20px;">Không có thông tin thời gian đánh giá nào được tìm thấy nào được tìm thấy !!!</td>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
          nextLabel="Trang Sau"></pagination-controls>
      </div>

    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
