<app-header>
</app-header>

<!--Navbar-->
<nav class="navbar navbar-expand-md grey lighten-4" id="top-navbar">
  <div class="container-fluid">
    <div class="container">
      <div class="row align-items-center">
        <ng-container *ngIf="isAdmin">
          <ul class="navbar-nav justify-content-start">
            <li class="nav-item ">
              <a mat-button color="danger" [routerLink]="[ '/trangchu/quanly/danhmuc' ]">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li class="nav-item ">
              <a mat-button color="primary" (click)="snav.toggle()">
                <i class="fa fa-bars" aria-hidden="true"></i> Danh Mục</a>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
<!--/.Navbar-->

<div style="padding-top: 20px">

  <mat-sidenav-container autosize>
    <mat-sidenav #snav [mode]="over">
      <h3 class="font-weight-bold text-center">Danh Mục</h3>
      <div class="font-weight-bold">
        <mat-list dense>
          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/danhmuc' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Trang Chính</a>
          </mat-list-item>

          <!-- QUẢN LÝ THÔNG TIN ĐÁNH GIÁ -->
          <mat-list-item>
            <h4 class="font-weight-bold">
              <i class="fa fa-folder" aria-hidden="true"></i> QUẢN LÝ THÔNG TIN ĐÁNH GIÁ</h4>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlythongbao' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông báo</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlythoigiandanhgia' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thời gian đánh giá</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlytieuchidanhgia' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý tiêu chí đánh giá</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlynamhochocky' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý năm học - học kỳ</a>
          </mat-list-item>

          <!-- QUẢN LÝ THÔNG TIN ĐÁNH GIÁ -->
          <!-- QUẢN LÝ TÀI KHOẢN NGƯỜI DÙNG -->
          <mat-list-item>
            <h4 class="font-weight-bold">
              <i class="fa fa-folder" aria-hidden="true"></i> QUẢN LÝ TÀI KHOẢN NGƯỜI DÙNG</h4>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlytaikhoan/sinhvien' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý tài khoản sinh viên</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlytaikhoan/canbo' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý tài khoản cán bộ</a>
          </mat-list-item>
          <!-- QUẢN LÝ TÀI KHOẢN NGƯỜI DÙNG -->
          <!-- QUẢN LÝ SINH VIÊN -->
          <mat-list-item>
            <h4 class="font-weight-bold">
              <i class="fa fa-folder" aria-hidden="true"></i> QUẢN LÝ SINH VIÊN</h4>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlysinhvien' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin sinh viên</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlythhoctap' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin tình hình học tập</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlykyluat' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin kỷ luật</a>
          </mat-list-item>
          <!-- QUẢN LÝ SINH VIÊN -->
          <!-- QUẢN LÝ CÁN BỘ -->
          <mat-list-item>
            <h4 class="font-weight-bold">
              <i class="fa fa-folder" aria-hidden="true"></i> QUẢN LÝ CÁN BỘ</h4>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlycanbo' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin cán bộ</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlycovanhoctap' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin cố vấn học tập</a>
          </mat-list-item>

          <!-- QUẢN LÝ CÁN BỘ -->
          <!-- QUẢN LÝ NGÀNH - ĐƠN VỊ -->
          <mat-list-item>
            <h4 class="font-weight-bold">
              <i class="fa fa-folder" aria-hidden="true"></i> QUẢN LÝ NGÀNH - ĐƠN VỊ</h4>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlykhoa' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin khoa</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlybomon' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin bộ môn</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlynganh' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin ngành</a>
          </mat-list-item>

          <mat-list-item>
            <a [routerLink]="[ '/trangchu/quanly/quanlylop' ]" class="menu-nav">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Quản lý thông tin lớp</a>
          </mat-list-item>
          <!-- QUẢN LÝ SINH VIÊN -->
        </mat-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="padding: 10px 0;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-footer></app-footer>
