<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <h2 class="font-weight-bold">LỌC</h2>
        <hr>
        <h4 class="font-weight-bold">Lọc theo lớp:</h4>
        <div>
          <mat-form-field class="col-md-12">
            <mat-select [(ngModel)]="id_khoa" placeholder="Danh Sách Khoa" required [formControl]="dskhoa_control">
              <mat-option>---</mat-option>
              <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachNganh(khoa.id)">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dskhoa_control.hasError('required')">Vui lòng chọn khoa !!!</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select [(ngModel)]="id_nganh" placeholder="Danh Sách Ngành" required [formControl]="dsnganh_control">
              <mat-option>---</mat-option>
              <mat-option [value]="n.id" *ngFor="let n of DanhSachNganh" (click)="getDanhSachLop(n.id)">{{n.tennganh}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dsnganh_control.hasError('required')">Vui lòng chọn ngành !!!</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select [(ngModel)]="id_lop" placeholder="Danh Sách Lớp" required [formControl]="dslop_control">
              <mat-option>---</mat-option>
              <mat-option [value]="l.id" *ngFor="let l of DanhSachLop">{{l.tenlop}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dslop_control.hasError('required')">Vui lòng chọn lớp !!!</mat-error>
          </mat-form-field>
        </div>
        <br>
        <button class="btn btn-md btn-primary" [disabled]="!(id_khoa && id_nganh && id_lop) === null" (click)="locDanhSach()">Xem</button>
      </mat-card>
    </div>
    <div class="col-md-8">
      <!-- Danh sách sinh viên có tài khoản -->
      <mat-card>
        <h2 class="font-weight-bold">DANH SÁCH TÀI KHOẢN SINH VIÊN</h2>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <mat-card>
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr class="table-primary">
                <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">MSSV</th>
                <th scope="col" class="text-center font-weight-bold" width="25%">Họ Tên</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">Lớp</th>
                <th scope="col" class="text-center font-weight-bold" width="25%">Quyền Tài Khoản</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">Tình Trạng</th>
                <th scope="col" class="text-center font-weight-bold" width="15%">Quản Lý</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tk of DanhSachTaiKhoan | hotenMssvFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total, id:'CTK' }; index as i">
                <td class="text-center font-weight-bold">{{i+1}}</td>
                <td class="text-center font-weight-bold">{{tk.mssv}}</td>
                <td class="text-left font-weight-bold">{{tk.hoten}}</td>
                <td class="text-center font-weight-bold">{{tk.tenlop}}</td>
                <td class="text-center font-weight-bold">
                  {{tk.quyen}}
                  <button class="btn btn-sm btn-warning" (click)="openDialogAddPQ(tk.id)">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Phân Quyền</button>
                </td>
                <ng-container *ngIf="tk.trangthai === 1; else elseTemplate">
                  <td class="text-center font-weight-bold">
                    <a (click)="openDialog2(tk.id, tk.trangthai, tk.hoten)">
                      <span matTooltip="Tài khoản đang hoạt động. Nhấp để khóa tài khoản.">
                        <img class="iconEdit_Delete" src="assets/images/unlock.svg" alt="">
                      </span>
                    </a>
                  </td>
                </ng-container>
                <ng-template #elseTemplate>
                  <td class="text-center font-weight-bold">
                    <a (click)="openDialog2(tk.id, tk.trangthai, tk.hoten)">
                      <span matTooltip="Tài khoản đã bị khóa. Nhấp kích hoạt lại tài khoản.">
                        <img class="iconEdit_Delete" src="assets/images/lock.svg" alt="">
                      </span>
                    </a>
                  </td>
                </ng-template>
                <td class="text-center font-weight-bold">
                  <a (click)="openDialogResetPass(tk.id, tk.hoten,tk.mssv)">
                    <span matTooltip="Khôi phục lại mật khẩu">
                      <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                    </span>
                  </a>
                  <a (click)="openDialog(tk.id, tk.hoten)">
                    <span matTooltip="Xóa tài khoản">
                      <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            <td class="text-center font-weight-bold" *ngIf="(DanhSachTaiKhoan | hotenMssvFilter: search).length === 0" colspan="7" style="font-size: 20px;">Không có sinh viên nào được tìm thấy !!!</td>
          </table>
          <div class="row justify-content-center">
            <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
              nextLabel="Trang Sau" id="CTK"></pagination-controls>
          </div>
        </mat-card>
      </mat-card>

      <!-- Danh sách sinh viên chưa có tài khoản -->
      <mat-card>
        <h2 class="font-weight-bold">DANH SÁCH SINH VIÊN CHƯA CÓ TÀI KHOẢN</h2>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter2($event.target.value)">
        </mat-form-field>
        <a class="btn btn-sm btn-success" (click)="createAllAccount()" *ngIf="DanhSachSVChuaCoTaiKhoan.length > 0 ">Tạo tài khoản cho tất cả sinh viên</a>
        <mat-card>
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr class="table-primary">
                <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">MSSV</th>
                <th scope="col" class="text-center font-weight-bold" width="30%">Họ Tên</th>
                <th scope="col" class="text-center font-weight-bold" width="10%">Lớp</th>
                <th scope="col" class="text-center font-weight-bold" width="25%">Tài Khoản</th>
                <th scope="col" class="text-center font-weight-bold" width="20%">Quản Lý</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tk of DanhSachSVChuaCoTaiKhoan | hotenMssvFilter: search2 | paginate: { itemsPerPage: 10, currentPage: p2, totalItems: total2, id:'CCTK' }; index as i">
                <td class="text-center font-weight-bold">{{i+1}}</td>
                <td class="text-center font-weight-bold">{{tk.mssv}}</td>
                <td class="text-left font-weight-bold">{{tk.hoten}}</td>
                <td class="text-center font-weight-bold">{{tk.tenlop}}</td>
                <td class="text-center font-weight-bold">
                  <a class="btn btn-sm btn-danger" (click)="createSingleAccount(tk.mssv)">
                    <i class="fa fa-plus" aria-hidden="true"></i> Tạo Tài Khoản
                  </a>
                </td>
                <td class="text-center font-weight-bold">
                  <a (click)="openDialog(tk.id, tk.hoten)">
                    <span matTooltip="Xóa thông tin">
                      <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            <td class="text-center font-weight-bold" *ngIf="(DanhSachSVChuaCoTaiKhoan | hotenMssvFilter: search2).length === 0" colspan="7"
              style="font-size: 20px;">Không có sinh viên nào chưa có tài khoản !!!</td>
          </table>
          <div class="row justify-content-center">
            <pagination-controls (pageChange)="p2 = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
              nextLabel="Trang Sau" id="CCTK"></pagination-controls>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </div>
</mat-card>

<app-backtotop></app-backtotop>
