<section>
  <mat-card>
    <h4 class="font-weight-bold">
      <i class="fas fa-address-book"></i> Thông Tin Sinh Viên
    </h4>
    <hr/>
    <h6 class="font-weight-bold">Mã số sinh viên: </h6>
    <h6>{{infoSV.mssv}}</h6>
    <h6 class="font-weight-bold">Họ và tên: </h6>
    <h6>{{infoSV.hoten}}</h6>
    <h6 class="font-weight-bold">Lớp: </h6>
    <h6>{{infoSV.tenlop}}</h6>
    <ng-container *ngIf="chucvu !== null">
      <h6 class="font-weight-bold">Chức vụ: </h6>
      <h6>{{chucvu.chucvu}}</h6>
    </ng-container>
    <ng-container *ngIf="quyentk !== null">
      <h6 class="font-weight-bold">Quyền tài khoản: </h6>
      <h6>{{quyentk.tennhomquyen}}</h6>
    </ng-container>
    <a [routerLink]="[ '/trangchu/sinhvien/lichsudanhgia' ]">
      <h6 class="font-weight-bold">
        <i class="fas fa-history"></i> Lịch sử đánh giá </h6>
    </a>
    <hr>
    <div [hidden]="!isDoiMatKhau">
      <h6 class="font-weight-bold text-danger">(Tài khoản chưa thay đổi mật khẩu. Vui lòng đổi mật khẩu !)</h6>
    </div>
    <a (click)="changePasswordDialog()">
      <h6 class="font-weight-bold">
        <i class="fas fa-unlock-alt"></i> Đổi mật khẩu </h6>
    </a>
  </mat-card>
</section>
