<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <h2 class="font-weight-bold">THỐNG KÊ KẾT QUẢ ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h2>
  <hr>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h4 class="text-center font-weight-bold">XEM BIỂU ĐỒ THEO LỚP</h4>
      <mat-card>
        <h5 class="font-weight-bold">Khoa:</h5>
        <mat-form-field class="col-md-12">
          <mat-select placeholder="Danh sách khoa" required [formControl]="dskhoa_control">
            <mat-option>---</mat-option>
            <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (change)="reset()" (click)="getDanhSachNganh(khoa.id)">{{khoa.tenkhoa}}</mat-option>
          </mat-select>
          <mat-error *ngIf="dskhoa_control.errors?.required && dskhoa_control.touched">
            <strong>Chọn khoa</strong>
          </mat-error>
        </mat-form-field>
        <h5 class="font-weight-bold">Ngành:</h5>
        <mat-form-field class="col-md-12">
          <mat-select placeholder="Trực Thuộc Ngành" required [formControl]="dsnganh_control">
            <mat-option>---</mat-option>
            <mat-option [value]="n.id" *ngFor="let n of DanhSachNganh" (click)="getDanhSachLop(n.id)">{{n.tennganh}}</mat-option>
          </mat-select>
          <mat-error *ngIf="dsnganh_control.errors?.required && dsnganh_control.touched">
            <strong>Chọn ngành</strong>
          </mat-error>
        </mat-form-field>
        <h5 class="font-weight-bold">Lớp:</h5>
        <mat-form-field class="col-md-12">
          <mat-select placeholder="Danh Sách Lớp" required [formControl]="dslop_control">
            <mat-option>---</mat-option>
            <mat-option [value]="l.id" *ngFor="let l of DanhSachLop">{{l.tenlop}}</mat-option>
          </mat-select>
          <mat-error *ngIf="dslop_control.errors?.required && dslop_control.touched">
            <strong>Chọn lớp</strong>
          </mat-error>
        </mat-form-field>
        <h5 class="font-weight-bold">Chọn học kỳ:</h5>
        <mat-form-field class="col-md-12">
          <mat-select placeholder="Danh Học Kỳ" required [formControl]="dshk_control">
            <mat-option>---</mat-option>
            <mat-option [value]="hk.id" *ngFor="let hk of DanhSachHocKy">{{hk.mahocky}} | {{hk.manamhoc}}</mat-option>
          </mat-select>
          <mat-error *ngIf="dshk_control.errors?.required && dshk_control.touched">
            <strong>Chọn học kỳ</strong>
          </mat-error>
        </mat-form-field>
        <div class="row d-flex justify-content-md-center">
          <button type="submit" [disabled]="!dshk_control.value || !dslop_control.value" class="btn btn-md btn-primary" (click)="xemThongKe()">Xem Thống Kê</button>
        </div>
      </mat-card>
    </div>
  </div>
</mat-card>

<mat-card>
  <h2 class="font-weight-bold text-center">
    BIỂU ĐỒ DÃY ĐIỂM RÈN LUYỆN CỦA LỚP
  </h2>
  <span class="font-weight-bold">Xem biểu đồ thống kê theo:</span>
  <mat-select [(ngModel)]="loaichucvudanhgia" (change)="xemThongKe()">
    <mat-option [value]="1" (select)="loaichucvudanhgia === 1">Cá nhân đánh giá</mat-option>
    <mat-option [value]="2">Lớp đánh giá</mat-option>
    <mat-option [value]="3">Cố vấn học tập đánh giá</mat-option>
    <mat-option [value]="4">Hội đồng khoa đánh giá</mat-option>
    <mat-option [value]="5">Hội đồng trường đánh giá</mat-option>
  </mat-select>
  <hr>
  <div class="row">
    <div class="mx-auto">
      <fusioncharts [width]="width2" [height]="height2" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSource2">
      </fusioncharts>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="mx-auto">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <a class="btn btn-lg btn-success" (click)="exportBangDiem()" [hidden]="!isXemThongKe">
        <i class="far fa-file-excel"></i> Export Bảng Điểm Tổng Hợp</a>
    </div>
  </div>

</mat-card>
