<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <h4 class="font-weight-bold text-uppercase">Quản lý thông tin sinh viên</h4>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <mat-card>
        <h4 class="text-center font-weight-bold">Xem Danh Sách Sinh Viên Theo Lớp</h4>
        <form [formGroup]="xemDSForm">
          <h4 class="font-weight-bold">Khoa:</h4>
          <mat-form-field class="col-md-12">
            <mat-select formControlName="khoaControl" [(ngModel)]="infoLop.tructhuoc" placeholder="Danh sách khoa">
              <mat-option>---</mat-option>
              <mat-option *ngFor="let khoa of DanhSachKhoa" [value]="khoa.id" (click)="getDanhSachNganh(khoa.id)">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
          </mat-form-field>
          <h4 class="font-weight-bold">Ngành:</h4>
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Danh sách ngành" formControlName="nganhControl" [(ngModel)]="infoLop.id_nganh">
              <mat-option>---</mat-option>
              <mat-option *ngFor="let nganh of DanhSachNganh" [value]="nganh.id" (click)="getDanhSachLop(nganh.id)">{{nganh.tennganh}}</mat-option>
            </mat-select>
          </mat-form-field>
          <h4 class="font-weight-bold">Lớp:</h4>
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Danh sách lớp" formControlName="lopControl" [(ngModel)]="infoLop.id_lop">
              <mat-option>---</mat-option>
              <mat-option *ngFor="let lop of DanhSachLop" [value]="lop.id" (click)="getTenLop(lop.id, lop.tenlop,lop.hedaotao)">{{lop.tenlop}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row d-flex justify-content-md-center" id="btn-khoaform">
            <button type="submit" [disabled]="!isShowXemButton" class="btn btn-md btn-primary" (click)="getDanhSachSinhVien()">Xác Nhận</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</mat-card>
<br>
<hr>
<br>
<mat-card [hidden]="!isShowDanhSach">
  <mat-card-content>
    <h5 class="font-weight-bold">Danh sách sinh viên lớp: {{tenlop_selected}}</h5>
    <ng-container *ngIf="isDatasource; else nodatasource">
      <a class="btn btn-md btn-success" [routerLink]="[ '/trangchu/quanly/quanlysinhvien/themsinhvien' ]">Thêm sinh viên mới </a>
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
            <th scope="col" class="text-center font-weight-bold" width="10%">MSSV</th>
            <th scope="col" class="text-center font-weight-bold" width="20%">Họ Và Tên</th>
            <th scope="col" class="text-center font-weight-bold" width="10%">Giới Tính</th>
            <th scope="col" class="text-center font-weight-bold" width="15%">Ngày Sinh</th>
            <th scope="col" class="text-center font-weight-bold" width="10%">CMND</th>
            <th scope="col" class="text-center font-weight-bold" width="10%">Chi Tiết</th>
            <th scope="col" class="text-center font-weight-bold" width="15%">Quản Lý</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sv of DanhSachSinhVien | hotenMssvFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
            <td class="text-center font-weight-bold">{{i+1}}</td>
            <td class="text-center font-weight-bold">{{sv.mssv}}</td>
            <td class="text-center font-weight-bold">{{sv.hoten}}</td>
            <ng-container *ngIf="sv.gioitinh === 0; else gioitinhNuBlock">
              <td class="text-center font-weight-bold">Nam</td>
            </ng-container>

            <ng-template #gioitinhNuBlock>
              <td class="text-center font-weight-bold">Nữ</td>
            </ng-template>
            <td class="text-center font-weight-bold">{{sv.ngaysinh | date: "dd-MM-yyyy"}}</td>
            <td class="text-center font-weight-bold">{{sv.cmnd}}</td>
            <td class="text-center font-weight-bold">
              <span matTooltip="Xem chi tiết">
                <a (click)="openDialog(sv.id)">
                  <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                </a>
              </span>
            </td>
            <td class="text-center font-weight-bold">
              <a [routerLink]="[ '/trangchu/quanly/quanlysinhvien/suasinhvien/', sv.id ]">
                <span matTooltip="Sửa thông tin">
                  <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                </span>
              </a>
              <a (click)="openConfirmDialog(sv.id, sv.mssv)">
                <span matTooltip="Xóa thông tin">
                  <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                </span>
              </a>
            </td>
          </tr>
          <td class="text-center font-weight-bold" *ngIf="(DanhSachSinhVien | hotenMssvFilter: search).length === 0" colspan="9" style="font-size: 20px;">Không có sinh viên nào được tìm thấy !!!</td>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
          nextLabel="Trang Sau"></pagination-controls>
      </div>
    </ng-container>

    <ng-template #nodatasource>
      <div class="row">
        <div class="col-md-5 mx-auto">
          <a class="btn btn-md btn-success" [routerLink]="[ '/trangchu/quanly/quanlysinhvien/themsinhvien' ]">
            <i class="fa fa-plus" aria-hidden="true"></i> Thêm sinh viên mới </a>
          <a class="btn btn-md btn-default" (click)="openDialogImport()">
            <i class="fas fa-upload"></i>Import từ Excel</a>
        </div>
      </div>
    </ng-template>
  </mat-card-content>

</mat-card>

<app-backtotop></app-backtotop>
