<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <h2 class="font-weight-bold">PHÂN CÔNG CỐ VẤN HỌC TẬP</h2>
      <hr>
      <h4 class="font-weight-bold text-center">THÔNG TIN CỐ VẤN HỌC TẬP</h4>
      <hr>

      <form [formGroup]="infoCVHT_form" novalidate>
        <ngx-stepper #steppers [options]="options">
          <ngx-step [label]="'Chọn cán bộ cố vấn'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <mat-select placeholder="Danh sách khoa" required [formControl]="dskhoa_control">
                  <mat-option>---</mat-option>
                  <mat-option value="{{khoa.id}}" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachBoMon(khoa.id)">{{khoa.tenkhoa}}</mat-option>
                </mat-select>
                <mat-error *ngIf="dskhoa_control.hasError('required')">Vui lòng chọn khoa !!!</mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <mat-select placeholder="Trực thuộc bộ môn" required [formControl]="dsbomon_control">
                  <mat-option>---</mat-option>
                  <mat-option value="{{bm.id}}" *ngFor="let bm of DanhSachBoMon" (click)="getDanhSachCanBoChuaCoVan(bm.id)">{{bm.tenbomon}}</mat-option>
                </mat-select>
                <mat-error *ngIf="dsbomon_control.hasError('required')">
                  <strong>Chọn bộ môn trực thuộc</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <mat-select formControlName="id_canbo" placeholder="Danh sách cán bộ chưa được phân công cố vấn" required>
                  <mat-option>---</mat-option>
                  <mat-option value="{{cbccv.id}}" *ngFor="let cbccv of DanhSachCanBoChuaCoVan">{{cbccv.hotencanbo}} - {{cbccv.macanbo}}</mat-option>
                </mat-select>
                <mat-error *ngIf="infoCVHT_form.controls.id_canbo?.errors?.required && infoCVHT_form.controls.id_canbo?.touched">
                  <strong>Chưa chọn cán bộ quản lý</strong>
                </mat-error>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Chọn lớp phân công cố vấn'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <mat-select formControlName="id_lop" placeholder="Danh sách lớp" required>
                  <mat-option>---</mat-option>
                  <mat-option *ngFor="let lop of DanhSachLopChuaCoVan" value="{{lop.id}}">
                    {{lop.tenlop}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="infoCVHT_form.controls.id_lop?.errors?.required && infoCVHT_form.controls.id_lop?.touched">
                  <strong>Chưa chọn lớp quản lý</strong>
                </mat-error>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="warn" (click)="steppers.next()">Tiếp Theo</button>
            </ngx-step-actions>
          </ngx-step>
          <ngx-step [label]="'Chọn thời gian cố vấn'">
            <ngx-step-body>
              <mat-form-field class="col-md-12">
                <mat-select formControlName="id_hockybatdau" placeholder="Học kỳ bắt đầu" required>
                  <mat-option>---</mat-option>
                  <mat-option *ngFor="let hk of DanhSachHocKy" value="{{hk.id}}">
                    {{hk.mahocky}} - {{hk.manamhoc}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="infoCVHT_form.controls.id_hockybatdau?.errors?.required && infoCVHT_form.controls.id_hockybatdau?.touched">
                  <strong>Chưa chọn học kỳ bắt đầu công tác cố vấn</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <mat-select formControlName="id_hockyketthuc" placeholder="Học kỳ kết thúc" required>
                  <mat-option>---</mat-option>
                  <mat-option *ngFor="let hk of DanhSachHocKy" value="{{hk.id}}">
                    {{hk.mahocky}} - {{hk.manamhoc}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="infoCVHT_form.controls.id_hockyketthuc?.errors?.required && infoCVHT_form.controls.id_hockyketthuc?.touched">
                  <strong>Chưa chọn học kỳ kết thúc công tác cố vấn</strong>
                </mat-error>
              </mat-form-field>
            </ngx-step-body>
            <ngx-step-actions class="row d-flex justify-content-md-end">
              <button mat-raised-button (click)="steppers.back()">Trở Lại</button>
              <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="infoCVHT_form.invalid">Thêm Thông Tin Cố Vấn</button>
            </ngx-step-actions>
          </ngx-step>
        </ngx-stepper>
      </form>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
