<div class="row">
  <div class="col-12">
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <h2 class="font-weight-bold">THÊM THÔNG TIN KỶ LUẬT SINH VIÊN</h2>
      <mat-card>
        <div class="row">
          <div class="col-6">
            <h4 class="font-weight-bold">Thông tin sinh viên: </h4>
            <div>
              <strong>Mã số sinh viên: </strong> {{infoSV.mssv}}
            </div>
            <div>
              <strong>Họ Tên: </strong> {{infoSV.hoten}}
            </div>
            <div>
              <strong>Lớp: </strong> {{infoSV.tenlop}}
            </div>
            <div>
              <strong>Ngành: </strong> {{infoSV.tennganh}}
            </div>
            <div>
              <strong>Khoa: </strong> {{infoSV.tenkhoa}}
            </div>
          </div>
          <div class="col-6">
            <mat-card>
              <form [formGroup]="infoKyLuat_form">
                <h4 class="font-weight-bold">Thông tin kỷ luật: </h4>
                <div>
                  <label>Duyệt: </label>
                  <mat-radio-group formControlName="trangthai" required>
                    <mat-radio-button [value]="0">Hết hiệu lực</mat-radio-button>
                    <mat-radio-button [value]="1">Có hiệu lực</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field class="col-md-12">
                  <mat-select placeholder="Loại Kỷ Luật" required formControlName="id_loaikyluat">
                    <mat-option>---</mat-option>
                    <mat-option *ngFor="let kl of DanhSachLoaiKyLuat" [value]="kl.id">{{ kl.tenloai_kyluat}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="infoKyLuat_form.controls.id_loaikyluat?.errors?.required && infoKyLuat_form.controls.id_loaikyluat?.touched">
                    <strong>Chọn loại kỷ luật</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <input matInput [matDatepicker]="picker" placeholder="Chọn Ngày Bắt Đầu" formControlName="tgbatdau" [(ngModel)]="tgbatdau"
                    (dateChange)="checkOrderDate()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker startView="multi-year"></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <input matInput [matDatepicker]="picker2" placeholder="Chọn Ngày Kết Thúc" formControlName="tgketthuc" [(ngModel)]="tgketthuc"
                    (dateChange)="checkOrderDate()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker2 startView="multi-year"></mat-datepicker>
                </mat-form-field>
                <div>
                  <h6 class="font-weight-bold">Chọn tệp quyết định: (chọn tệp xong nhấn Upload để đính kèm tệp)</h6>
                  <p-fileUpload name="myfile[]" accept="image/*,application/pdf,application/vnd.ms-excel" customUpload="true" chooseLabel="Chọn tệp"
                    uploadLabel="Tải lên" cancelLabel="Hủy bỏ" (onRemove)="removeFile()" (onClear)="removeFile()" (uploadHandler)="myUploader($event)"></p-fileUpload>
                </div>
                <div class="row d-flex justify-content-md-end" id="btn-svform">
                  <button mat-button (click)="onCancel()">Hủy</button>
                  <button type="submit" mat-raised-button color="primary" [disabled]="infoKyLuat_form.invalid || fileToUpload === null" (click)="openDialog()">Xác Nhận</button>
                </div>
              </form>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
