
<!--Footer-->
<footer class="page-footer blue center-on-small-only">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      <!-- <p>© {{ fullYear }} Trường Đại Học An Giang - Số 18 Ung Văn Khiêm, Phường Đông Xuyên, TP Long Xuyên - Tỉnh An Giang</p> -->
      <p> ĐỀ TÀI KHÓA LUẬN - HỆ THỐNG QUẢN LÝ ĐIỂM RÈN LUYỆN TRƯỜNG ĐẠI HỌC AN GIANG | TRẦN DƯƠNG HOÀNG KHẢI - DTH146751</p>
    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
