<div class="container">
  <!-- Đánh giá -->
  <section>
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <h2 class="text-center font-weight-bold"> Đánh Giá Điểm Rèn Luyện {{mahocky}} Năm Học {{manamhoc}} </h2>
      <hr>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="40%">Nội Dung</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Điểm</th>
            <th scope="col" class="text-center font-weight-bold" colspan="5" width="40%">Đánh Giá</th>

          </tr>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Cá Nhân</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Ban Cán Sự</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">CVHT</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">HD Khoa</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">HD Trường</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let tc of DanhSachTieuChi; let i = index">
            <!-- Nếu tiêu chí là tiêu chí gốc thì dòng tiêu chí có màu xám. Ngược lại, là tiêu chí bình thường elseTemplate -->
            <ng-container *ngIf="tc.is_tieuchigoc === 1; else elseTemplate">
              <tr class="table-secondary">
                <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                <td class="font-weight-bold" colspan="5"></td>
              </tr>
            </ng-container>
            <ng-template #elseTemplate>
              <!-- Nếu như tiêu chí là cha, ngược lại elseTemplate2 -->
              <ng-container *ngIf="(tc.id_tieuchicha === null && tc.is_tieuchigoc === 0); else elseTemplate2">
                <tr>
                  <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                  <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                  <td class="font-weight-bold" colspan="5"></td>
                </tr>
              </ng-container>
              <ng-template #elseTemplate2>
                <!-- Nếu như tiêu chí là tiêu chí thuộc một tiêu chí khác và nó là điểm thưởng thì dòng tiêu chí có màu vàng , ngược lại elseTemplate3 -->
                <ng-container *ngIf="tc.diemthuong === 1; else elseTemplate3">
                  <!-- Cấp 2 -->
                  <!-- Nếu là điểm thưởng -->
                  <tr class="table-warning">
                    <td class="text-left font-weight-bold">{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }} </td>
                    <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                    <td class="font-weight-bold" colspan="5"></td>
                  </tr>
                </ng-container>
                <ng-template #elseTemplate3>
                  <!-- Nếu tiêu chí này là tiêu chí mà đánh giá ở tiêu chí con, ngược lại thì elseTemplate4 -->
                  <ng-container *ngIf="tc.id_loaidiem === null; else elseTemplate4">
                    <tr>
                      <td class="text-left font-weight-bold">&emsp;&emsp;&emsp;&emsp;{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}</td>
                      <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                      <td class="font-weight-bold" colspan="5"></td>
                    </tr>
                  </ng-container>
                  <ng-template #elseTemplate4>
                    <!-- Nếu loại dánh giá điểm là chọn thì hiển thị radio button ngược lại thì elseTemplate5 -->
                    <ng-container *ngIf="tc.id_loaidiem === 1; else elseTemplate5">
                      <tr>
                        <td class="text-left font-weight-bold">&emsp;&emsp;&emsp;&emsp;{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}
                          <a class="btn btn-sm btn-warning" *ngIf="tc.can_minhchung === 1">
                            <i class="fas fa-plus-circle"></i> Thêm minh chứng</a>
                        </td>
                        <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                        <ng-container [ngSwitch]="tc.id">
                          <ng-container *ngFor="let ctdg of ChiTietDanhGiaSV">
                            <td *ngSwitchCase="ctdg.id_tieuchi" class="text-center font-weight-bold">{{ ctdg.diem }}</td>
                          </ng-container>
                          <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                        </ng-container>

                        <ng-container [ngSwitch]="tc.id">
                          <ng-container *ngFor="let ctdgbcs of ChiTietDanhGiaBCS">
                            <td *ngSwitchCase="ctdgbcs.id_tieuchi" class="text-center font-weight-bold">{{ ctdgbcs.diem }}</td>
                          </ng-container>
                          <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                        </ng-container>

                        <ng-container [ngSwitch]="tc.id">
                          <ng-container *ngFor="let ctdgcvht of ChiTietDanhGiaCVHT">
                            <td *ngSwitchCase="ctdgcvht.id_tieuchi" class="text-center font-weight-bold">{{ ctdgcvht.diem }}</td>
                          </ng-container>
                          <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                        </ng-container>

                        <ng-container [ngSwitch]="tc.id">
                          <ng-container *ngFor="let ctdghdkhoa of ChiTietDanhGiaHDKhoa">
                            <td *ngSwitchCase="ctdghdkhoa.id_tieuchi" class="text-center font-weight-bold">{{ ctdghdkhoa.diem }}</td>
                          </ng-container>
                          <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                        </ng-container>

                        <td class="font-weight-bold">
                          <div>
                            <mat-radio-button value="{{tc.diemtoida}}" name="{{tc.id_tieuchicha}}" (change)="ganGiaTri(tc)" [checked]="danhgia['' + tc.id]">{{tc.diemtoida}}</mat-radio-button>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    <!-- Nếu loại đánh giá điểm là điền thì hiển thị input cho người dùng nhập-->
                    <ng-template #elseTemplate5>
                      <tr>
                        <td class="text-left font-weight-bold">&emsp;&emsp;&emsp;&emsp;{{ tc.chimuc_tieuchi }}. {{ tc.tentieuchi }}
                          <a class="btn btn-sm btn-warning" *ngIf="tc.can_minhchung === 1">
                            <i class="fas fa-plus-circle"></i> Thêm minh chứng</a>
                        </td>
                        <td class="text-center font-weight-bold">{{ tc.diemtoida }}đ</td>
                        <ng-container [ngSwitch]="tc.id">
                          <ng-container *ngFor="let ctdg of ChiTietDanhGiaSV">
                            <td *ngSwitchCase="ctdg.id_tieuchi" class="text-center font-weight-bold">{{ ctdg.diem }}</td>
                          </ng-container>
                          <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                        </ng-container>

                        <ng-container [ngSwitch]="tc.id">
                          <ng-container *ngFor="let ctdgbcs of ChiTietDanhGiaBCS">
                            <td *ngSwitchCase="ctdgbcs.id_tieuchi" class="text-center font-weight-bold">{{ ctdgbcs.diem }}</td>
                          </ng-container>
                          <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                        </ng-container>

                        <ng-container [ngSwitch]="tc.id">
                          <ng-container *ngFor="let ctdgcvht of ChiTietDanhGiaCVHT">
                            <td *ngSwitchCase="ctdgcvht.id_tieuchi" class="text-center font-weight-bold">{{ ctdgcvht.diem }}</td>
                          </ng-container>
                          <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                        </ng-container>

                        <ng-container [ngSwitch]="tc.id">
                          <ng-container *ngFor="let ctdghdkhoa of ChiTietDanhGiaHDKhoa">
                            <td *ngSwitchCase="ctdghdkhoa.id_tieuchi" class="text-center font-weight-bold">{{ ctdghdkhoa.diem }}</td>
                          </ng-container>
                          <td *ngSwitchDefault class="text-center font-weight-bold"></td>
                        </ng-container>

                        <ng-container *ngIf="tc.can_minhchung === 1; else elseTemplate6">
                          <td class="font-weight-bold">
                            <input matInput maxlength="1" placeholder="Điền" name="{{tc.id_tieuchicha}}" required [(ngModel)]="danhgia['' + tc.id]">
                            <mat-error *ngIf="danhgia['' + tc.id] > tc.diemtoida">Điểm nhập vào không lớn hơn điểm tối đa !!!</mat-error>
                            <hr>
                            <a class="badge badge-pill badge-warning" (click)="openDialogMinhhChung(tc)">
                              <i class="fas fa-plus-circle"></i> Minh chứng</a>
                            <br>
                            <ng-container *ngIf="tc.can_minhchung === 1">
                              <ng-container *ngIf="name_minhchung !== null">
                                <span [ngSwitch]="tc.id">
                                  <ng-container *ngFor="let name of name_minhchung">
                                    <a *ngSwitchCase="name[0]" class="text-center font-weight-bold">
                                      {{ name[1].name }}
                                      <i class="fas fa-minus-circle text-danger" (click)="deleteFile(name)"></i>
                                    </a>
                                  </ng-container>
                                  <a *ngSwitchDefault class="text-center font-weight-bold"></a>
                                </span>
                              </ng-container>
                            </ng-container>
                          </td>
                        </ng-container>
                        <ng-template #elseTemplate6>
                          <td class="font-weight-bold">
                            <input matInput maxlength="1" placeholder="Điền" name="{{tc.id_tieuchicha}}" required [(ngModel)]="danhgia['' + tc.id]">
                            <mat-error *ngIf="danhgia['' + tc.id] > tc.diemtoida">Điểm nhập vào không lớn hơn điểm tối đa !!!</mat-error>
                          </td>
                        </ng-template>
                      </tr>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-template>
          </ng-container>
        </tbody>
      </table>
      <div class="row d-flex justify-content-md-end" id="btn-svform">
        <button mat-button (click)="onCancel()">Hủy</button>
        <button type="submit" mat-raised-button color="primary" (click)="openDialog()">Xác Nhận</button>
      </div>
    </mat-card>

  </section>
</div>
<app-backtotop></app-backtotop>
