<h4 class="font-weight-bold text-center">THÔNG TIN TIÊU CHÍ ĐƯỢC CHỌN</h4>
<hr>
<form [formGroup]="infoTieuchi_Form">
  <mat-form-field class="col-md-12">
    <mat-select formControlName="id_tieuchicha" placeholder="Tiêu chí cha" [(ngModel)]="tieuchicha" (change)="changeTieuChiCha($event.value)">
      <mat-option value="TCG" selected="tieuchicha === TCG">--Tiêu Chí Gốc--</mat-option>
      <ng-container *ngFor="let cm of DanhSachChiMuc">
        <ng-container *ngIf="cm.chimuc_tieuchicha !== null; else elseTemplate3">
          <mat-option [value]="cm.id">{{cm.chimuc_tieuchi}} - {{cm.chimuc_tieuchicha}}</mat-option>
        </ng-container>
        <ng-template #elseTemplate3>
          <mat-option [value]="cm.id">{{cm.chimuc_tieuchi}} - Tiêu chí gốc</mat-option>
        </ng-template>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <section class="col-md-12" [hidden]="!isdiemthuong">
    <mat-checkbox formControlName="diemthuong" color="primary" [(ngModel)]="data.tc.diemthuong">Điểm thưởng</mat-checkbox>
  </section>
  <mat-form-field class="col-md-12">
    <mat-select formControlName="khongdanhgia" placeholder="Loại đánh giá" [(ngModel)]="data.tc.khongdanhgia" required>
      <mat-option [value]="1" selected="data.tc.khongdanhgia === 1">Đánh giá ở tiêu chí con</mat-option>
      <mat-option [value]="0" selected="data.tc.khongdanhgia === 0">Đánh giá ở ngay tiêu chí</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-md-12">
    <input matInput placeholder="Chỉ mục tiêu chí" maxlength="3" #chimuc_tieuchi required formControlName="chimuc_tieuchi" [(ngModel)]="data.tc.chimuc_tieuchi">
    <mat-hint align="start">
      <strong>Tối đa 3 chữ số</strong>
    </mat-hint>
    <mat-hint align="end">{{chimuc_tieuchi.value.length}} / 3</mat-hint>
    <mat-error *ngIf="infoTieuchi_Form.controls.chimuc_tieuchi?.errors?.required && infoTieuchi_Form.controls.chimuc_tieuchi?.touched">
      <strong>Chưa điền chỉ mục tiêu chí</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12">
    <textarea matInput placeholder="Tên tiêu chí" formControlName="tentieuchi" required [(ngModel)]="data.tc.tentieuchi"></textarea>
    <mat-error *ngIf="infoTieuchi_Form.controls.tentieuchi?.errors?.required && infoTieuchi_Form.controls.tentieuchi?.touched">
      <strong>Chưa điền tên tiêu chí</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12" [hidden]="infoTieuchi_Form.controls.khongdanhgia?.value === 1">
    <mat-select placeholder="Loại đánh giá điểm" required [formControl]="id_loaidiem" [(ngModel)]="data.tc.id_loaidiem">
      <mat-option [value]="ld.id" *ngFor="let ld of DanhSachLoaiDiem">{{ld.tenloaidiem}}</mat-option>
    </mat-select>
    <mat-error *ngIf="id_loaidiem.hasError('required')">
      <strong>Chọn loại điểm đánh giá</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="col-md-12">
    <input placeholder="Điểm tối đa" matInput [matAutocomplete]="diemtoida" formControlName="diemtoida" [(ngModel)]="data.tc.diemtoida">
    <mat-autocomplete #diemtoida="matAutocomplete">
      <mat-option *ngFor="let dtd of arrdiemtoida" [value]="dtd">
        {{dtd}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="infoTieuchi_Form.controls.diemtoida?.errors?.required && infoTieuchi_Form.controls.diemtoida?.touched">
      <strong>Chọn chưa chọn số điểm tối đa</strong>
    </mat-error>
  </mat-form-field>
  <div>
    <label>Minh Chứng: </label>
    <br>
    <mat-radio-group formControlName="can_minhchung" required [(ngModel)]="data.tc.can_minhchung">
      <mat-radio-button [value]="0" [checked]="data.tc.can_minhchung === 0">Không cần minh chứng</mat-radio-button>
      <mat-radio-button [value]="1" [checked]="data.tc.can_minhchung === 1">Cần có minh chứng</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row d-flex justify-content-md-end" id="btn-svform">
    <button mat-button (click)="onCancel()">Hủy</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="infoTieuchi_Form.invalid" (click)="SuaTieuChi()">Cập Nhật</button>
  </div>
</form>
