<h2 class="font-weight-bold text-center">
  BIỂU ĐỒ DÃY ĐIỂM RÈN LUYỆN CỦA LỚP {{tenlop}}
</h2>
<div class="row d-flex align-self-center">
  <span class="font-weight-bold">Xem biểu đồ thống kê theo:</span>
  <mat-select [(ngModel)]="loaichucvudanhgia" (change)="getData()">
    <mat-option [value]="1" (select)="loaichucvudanhgia === 1">Cá nhân đánh giá</mat-option>
    <mat-option [value]="2">Lớp đánh giá</mat-option>
    <mat-option [value]="3">Cố vấn học tập đánh giá</mat-option>
    <mat-option [value]="4">Hội đồng khoa đánh giá</mat-option>
    <mat-option [value]="5">Hội đồng trường đánh giá</mat-option>
  </mat-select>
</div>
<hr>
<mat-dialog-content>
  <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
</mat-dialog-content>
