/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@progress/kendo-theme-default/scss/all";
@import "~ngx-toastr/toastr";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~primeng/resources/primeng.css";
@import "~primeng/resources/themes/ludvig/theme.css";
html,
body {
  background-color: #eeeeee;
  color: black;
}

.row {
  margin: 0;
}

.mat-card {
  margin: 10px 0;
}

/* QL Lớp */

.ff_lop {
  padding-left: 0;
  padding-right: 0;
}

.mat-expansion-panel-header-description {
  padding-top: 0.5rem;
}

input[type=number] {
  border: 0;
}

input[type=number]:focus:not([readonly]) {
  border: 0;
  box-shadow: none;
}

input[type=password] {
  border: 0;
}

input[type=password]:focus:not([readonly]) {
  border: 0;
  box-shadow: none;
}


input[type=text] {
  border: 0;
}

input[type=text]:focus:not([readonly]) {
  border: 0;
  box-shadow: none;
}

.mat-chip {
  margin: 3px 0;
}

.mat-chip.mat-chip-selected.mat-primary {
  // Module QL Tài Khoản
  background-color: #2ecc71;
}

.mat-steppers-header-region {
  // Module QL CanBo
  margin-bottom: 10px !important;
}

/* Icon Edit and Icon Delete */

.iconEdit_Delete {
  width: 2.5em;
}
