<div class="container">
  <section>
    <mat-card>
      <a class="btn btn-sm btn-success" (click)="backBtn()">
        <i class="fas fa-angle-double-left"></i> Trở lại</a>
      <h2 class="text-center font-weight-bold"> DANH SÁCH SINH VIÊN LỚP {{lop}} </h2>
      <hr>
      <div [hidden]="DanhSachKyLuat.length === 0">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Danh Sách Sinh Viên Bị Kỷ Luật
            </mat-expansion-panel-header>

            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr class="table-primary">
                  <th scope="col" class="text-center font-weight-bold" rowspan="2" width="5%">#</th>
                  <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">MSSV</th>
                  <th scope="col" class="text-center font-weight-bold" rowspan="2" width="25%">Họ Tên</th>
                  <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Loại Kỷ Luật</th>
                  <th scope="col" class="text-center font-weight-bold" colspan="2" width="30%">Hiệu Lực</th>
                  <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Quyết định</th>
                </tr>
                <tr class="table-primary">
                  <th scope="col" class="text-center font-weight-bold" rowspan="2" width="15%">Bắt Đầu</th>
                  <th scope="col" class="text-center font-weight-bold" rowspan="2" width="15%">Kết Thúc</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let kl of DanhSachKyLuat; index as i">
                  <td class="text-center ">{{ i+1 }}</td>
                  <td class="text-center ">{{ kl.mssv }}</td>
                  <td class="text-center ">{{ kl.hoten }}</td>
                  <td class="text-center ">{{ kl.tenloai_kyluat }}</td>
                  <td class="text-center ">{{ kl.tgbatdau | date: "dd-MM-yyyy" }}</td>
                  <td class="text-center ">{{ kl.tgketthuc | date: "dd-MM-yyyy" }}</td>
                  <ng-container *ngIf="kl.filename_quyetdinh !== null; else elseTemplate">
                    <td class="text-center ">
                      <span matTooltip="Tải file">
                        <a (click)="downloadFile(kl.id_sv)">
                          <i class="fas fa-download fa-2x"></i>
                        </a>
                      </span>
                    </td>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <td class="text-center "></td>
                  </ng-template>
                </tr>
                <td class="text-center font-weight-bold" *ngIf="DanhSachKyLuat.length === 0" colspan="7" style="font-size: 20px;">Không có sinh viên nào được tìm thấy !!!</td>
              </tbody>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <br>
      <h6 class="font-weight-bold">* Chú thích:
        <br>1. "-" là chưa đánh giá
        <br>2. Nhấp vào tên sinh viên để xem lịch sử đánh giá của sinh viên
        <br>3. Sinh viên có màu đỏ là sinh viên đang bị kỷ luật
      </h6>
      <a (click)="openDialogChart()" class="btn btn-sm btn-info">
        <i class="far fa-chart-bar"></i> Xem biểu đồ điểm đánh giá</a>
      <a (click)="openDialogExport()" class="btn btn-sm btn-danger">
        <i class="fas fa-download"></i> Xuất bảng điểm đánh giá của lớp</a>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="5%">#</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">MSSV</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="30%">Họ Và Tên</th>
            <th scope="col" class="text-center font-weight-bold" colspan="5" width="50%">Điểm</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="5%"></th>
          </tr>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Cá Nhân</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">Lớp</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">CVHT</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">HD Khoa</th>
            <th scope="col" class="text-center font-weight-bold" rowspan="2" width="10%">HD Trường</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let sv of DanhSachSinhVien | paginate: { itemsPerPage: 15, currentPage: p, totalItems: total }; index as i">
            <ng-container [ngSwitch]="sv.id_sv">
              <ng-container *ngFor="let kl of DanhSachKyLuat">
                <tr *ngSwitchCase="kl.id_sv" class="table-danger">
                  <td class="text-center font-weight-bold">{{i+1}}</td>
                  <td class="text-center font-weight-bold">{{sv.mssv}}</td>
                  <td class="text-left font-weight-bold">
                    <span matTooltip="Xem lịch sử đánh giá của sinh viên {{sv.hoten}}">
                      <ng-container *ngIf="quyentk === 3 || quyentk === 4 || quyentk === 5 ; else elseTemplate20">
                        <a [routerLink]="[ '/trangchu/canbo/lichsudanhgia/', sv.id_sv ]">{{sv.hoten}}</a>
                      </ng-container>
                      <ng-template #elseTemplate20>
                        <a [routerLink]="[ '/trangchu/sinhvien/bancansu/lichsudanhgia/', sv.id_sv ]">{{sv.hoten}}</a>
                      </ng-template>
                    </span>
                  </td>
                  <!-- ______________________________________________________________________ -->

                  <ng-container *ngIf="sv.tong_diemdanhgia_sv === null; else elseTemplate">
                    <td class="text-center font-weight-bold ">
                      -
                    </td>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_sv}}</td>
                  </ng-template>

                  <!-- ______________________________________________________________________ -->

                  <ng-container *ngIf="sv.tong_diemdanhgia_bancansu === null; else elseTemplate2">
                    <td class="text-center font-weight-bold ">
                      -
                    </td>
                  </ng-container>
                  <ng-template #elseTemplate2>
                    <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_bancansu}}</td>
                  </ng-template>

                  <!-- ______________________________________________________________________ -->

                  <ng-container *ngIf="sv.tong_diemdanhgia_cvht === null; else elseTemplate3">
                    <td class="text-center font-weight-bold ">
                      <ng-container *ngIf="quyentk === 3; else elseTemplate6">
                        <ng-container *ngIf="sv.trangthai_bancansu === 1 ; else elseTemplate7">
                          <ng-container *ngIf="sv.trangthai_cvht === 0; else elseTemplate21">
                            <a class="btn btn-sm btn-secondary" (click)="openDialog(sv.id_sv, 3, 2, sv.hoten)">Duyệt Nhanh</a>
                          </ng-container>
                          <ng-template #elseTemplate21>
                            <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_cvht}}</td>
                          </ng-template>
                        </ng-container>
                        <ng-template #elseTemplate7>
                          -
                        </ng-template>
                      </ng-container>
                      <ng-template #elseTemplate6>
                        -
                      </ng-template>
                    </td>
                  </ng-container>
                  <ng-template #elseTemplate3>
                    <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_cvht}}</td>
                  </ng-template>

                  <!-- ______________________________________________________________________ -->

                  <ng-container *ngIf="sv.tong_diemdanhgia_hoidongkhoa === null; else elseTemplate4">
                    <td class="text-center font-weight-bold ">
                      <ng-container *ngIf="quyentk === 4; else elseTemplate8">
                        <ng-container *ngIf="sv.trangthai_cvht === 1 ; else elseTemplate9">
                          <ng-container *ngIf="sv.trangthai_hoidongkhoa === 0; else elseTemplate22">
                            <a class="btn btn-sm btn-secondary" (click)="openDialog(sv.id_sv, 4, 3, sv.hoten)">Duyệt Nhanh</a>
                          </ng-container>
                          <ng-template #elseTemplate22>
                            <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_hoidongkhoa}}</td>
                          </ng-template>
                        </ng-container>
                        <ng-template #elseTemplate9>
                          -
                        </ng-template>
                      </ng-container>
                      <ng-template #elseTemplate8>
                        -
                      </ng-template>
                    </td>
                  </ng-container>

                  <ng-template #elseTemplate4>
                    <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_hoidongkhoa}}</td>
                  </ng-template>

                  <!-- ______________________________________________________________________ -->

                  <ng-container *ngIf="sv.tong_diemdanhgia_hoidongtruong === null; else elseTemplate5">
                    <td class="text-center font-weight-bold ">
                      <ng-container *ngIf="quyentk === 5; else elseTemplate10">
                        <ng-container *ngIf="sv.trangthai_hoidongkhoa === 1 ; else elseTemplate11">
                          <ng-container *ngIf="sv.trangthai_hoidongtruong === 0; else elseTemplate23">
                            <a class="btn btn-sm btn-secondary" (click)="openDialog(sv.id_sv, 5, 4, sv.hoten)">Duyệt Nhanh</a>
                          </ng-container>
                          <ng-template #elseTemplate23>
                            <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_hoidongtruong}}</td>
                          </ng-template>
                        </ng-container>
                        <ng-template #elseTemplate11>
                          -
                        </ng-template>
                      </ng-container>
                      <ng-template #elseTemplate10>
                        -
                      </ng-template>
                    </td>
                  </ng-container>
                  <ng-template #elseTemplate5>
                    <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_hoidongtruong}}</td>
                  </ng-template>

                  <!-- ______________________________________________________________________ -->

                  <td class="text-center font-weight-bold">
                    <span [ngSwitch]="quyentk">
                      <p *ngSwitchCase="3">
                        <ng-container *ngIf="sv.trangthai_cvht === 0; else elseTemplate10">
                          <span matTooltip="Đánh giá chi tiết">
                            <a [routerLink]="[ '/trangchu/canbo/cvht/danhgia/', sv.id_sv ]">
                              <i class="fas fa-edit"></i>
                            </a>
                          </span>
                        </ng-container>
                        <ng-template #elseTemplate10>
                          <span matTooltip="Xem chi tiết lịch sử đánh giá">
                            <a (click)="openXemChiTietDanhGia(sv)">
                              <i class="fas fa-eye"></i>
                            </a>
                          </span>
                          <span matTooltip="Chỉnh sửa đánh giá">
                            <a [routerLink]="['/trangchu/canbo/cvht/chinhsuadanhgia/', sv.id_sv]">
                              <i class="fas fa-edit"></i>
                            </a>
                          </span>
                        </ng-template>
                      </p>
                      <p *ngSwitchCase="4">
                        <ng-container *ngIf="sv.trangthai_hoidongkhoa === 0; else elseTemplate10">
                          <span matTooltip="Đánh giá chi tiết">
                            <a [routerLink]="[ '/trangchu/canbo/hoidongkhoa/danhgia/', sv.id_sv ]">
                              <i class="fas fa-edit"></i>
                            </a>
                          </span>
                        </ng-container>
                        <ng-template #elseTemplate10>
                          <span matTooltip="Xem chi tiết lịch sử đánh giá">
                            <a (click)="openXemChiTietDanhGia(sv)">
                              <i class="fas fa-eye"></i>
                            </a>
                          </span>
                          <span matTooltip="Chỉnh sửa đánh giá">
                            <a [routerLink]="['/trangchu/canbo/hoidongkhoa/chinhsuadanhgia/', sv.id_sv]">
                              <i class="fas fa-edit"></i>
                            </a>
                          </span>
                        </ng-template>
                      </p>
                      <p *ngSwitchCase="5">
                        <ng-container *ngIf="sv.trangthai_hoidongtruong === 0; else elseTemplate10">
                          <span matTooltip="Đánh giá chi tiết">
                            <a [routerLink]="[ '/trangchu/canbo/hoidongtruong/danhgia/', sv.id_sv ]">
                              <i class="fas fa-edit"></i>
                            </a>
                          </span>
                        </ng-container>
                        <ng-template #elseTemplate10>
                          <span matTooltip="Xem chi tiết lịch sử đánh giá">
                            <a (click)="openXemChiTietDanhGia(sv)">
                              <i class="fas fa-eye"></i>
                            </a>
                          </span>
                          <span matTooltip="Chỉnh sửa đánh giá">
                            <a [routerLink]="['/trangchu/canbo/hoidongtruong/chinhsuadanhgia/', sv.id_sv]">
                              <i class="fas fa-edit"></i>
                            </a>
                          </span>
                        </ng-template>
                      </p>
                    </span>
                  </td>
                </tr>
              </ng-container>
              <tr *ngSwitchDefault>
                <td class="text-center font-weight-bold">{{i+1}}</td>
                <td class="text-center font-weight-bold">{{sv.mssv}}</td>
                <td class="text-left font-weight-bold">
                  <span matTooltip="Xem lịch sử đánh giá của sinh viên {{sv.hoten}}">
                    <ng-container *ngIf="quyentk === 3 || quyentk === 4 || quyentk === 5 ; else elseTemplate20">
                      <a [routerLink]="[ '/trangchu/canbo/lichsudanhgia/', sv.id_sv ]">{{sv.hoten}}</a>
                    </ng-container>
                    <ng-template #elseTemplate20>
                      <a [routerLink]="[ '/trangchu/sinhvien/bancansu/lichsudanhgia/', sv.id_sv ]">{{sv.hoten}}</a>
                    </ng-template>
                  </span>
                </td>
                <!-- ______________________________________________________________________ -->

                <ng-container *ngIf="sv.tong_diemdanhgia_sv === null; else elseTemplate">
                  <td class="text-center font-weight-bold ">
                    -
                  </td>
                </ng-container>
                <ng-template #elseTemplate>
                  <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_sv}}</td>
                </ng-template>

                <!-- ______________________________________________________________________ -->

                <ng-container *ngIf="sv.tong_diemdanhgia_bancansu === null; else elseTemplate2">
                  <td class="text-center font-weight-bold ">
                    -
                  </td>
                </ng-container>
                <ng-template #elseTemplate2>
                  <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_bancansu}}</td>
                </ng-template>

                <!-- ______________________________________________________________________ -->

                <ng-container *ngIf="sv.tong_diemdanhgia_cvht === null; else elseTemplate3">
                  <td class="text-center font-weight-bold ">
                    <ng-container *ngIf="quyentk === 3; else elseTemplate6">
                      <ng-container *ngIf="sv.trangthai_bancansu === 1 ; else elseTemplate7">
                        <ng-container *ngIf="sv.trangthai_cvht === 0; else elseTemplate21">
                          <a class="btn btn-sm btn-secondary" (click)="openDialog(sv.id_sv, 3, 2, sv.hoten)">Duyệt Nhanh</a>
                        </ng-container>
                        <ng-template #elseTemplate21>
                          <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_cvht}}</td>
                        </ng-template>
                      </ng-container>
                      <ng-template #elseTemplate7>
                        -
                      </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate6>
                      -
                    </ng-template>
                  </td>
                </ng-container>
                <ng-template #elseTemplate3>
                  <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_cvht}}</td>
                </ng-template>

                <!-- ______________________________________________________________________ -->

                <ng-container *ngIf="sv.tong_diemdanhgia_hoidongkhoa === null; else elseTemplate4">
                  <td class="text-center font-weight-bold ">
                    <ng-container *ngIf="quyentk === 4; else elseTemplate8">
                      <ng-container *ngIf="sv.trangthai_cvht === 1 ; else elseTemplate9">
                        <ng-container *ngIf="sv.trangthai_hoidongkhoa === 0; else elseTemplate22">
                          <a class="btn btn-sm btn-secondary" (click)="openDialog(sv.id_sv, 4, 3, sv.hoten)">Duyệt Nhanh</a>
                        </ng-container>
                        <ng-template #elseTemplate22>
                          <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_hoidongkhoa}}</td>
                        </ng-template>
                      </ng-container>
                      <ng-template #elseTemplate9>
                        -
                      </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate8>
                      -
                    </ng-template>
                  </td>
                </ng-container>

                <ng-template #elseTemplate4>
                  <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_hoidongkhoa}}</td>
                </ng-template>

                <!-- ______________________________________________________________________ -->

                <ng-container *ngIf="sv.tong_diemdanhgia_hoidongtruong === null; else elseTemplate5">
                  <td class="text-center font-weight-bold ">
                    <ng-container *ngIf="quyentk === 5; else elseTemplate10">
                      <ng-container *ngIf="sv.trangthai_hoidongkhoa === 1 ; else elseTemplate11">
                        <ng-container *ngIf="sv.trangthai_hoidongtruong === 0; else elseTemplate23">
                          <a class="btn btn-sm btn-secondary" (click)="openDialog(sv.id_sv, 5, 4, sv.hoten)">Duyệt Nhanh</a>
                        </ng-container>
                        <ng-template #elseTemplate23>
                          <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_hoidongtruong}}</td>
                        </ng-template>
                      </ng-container>
                      <ng-template #elseTemplate11>
                        -
                      </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate10>
                      -
                    </ng-template>
                  </td>
                </ng-container>
                <ng-template #elseTemplate5>
                  <td class="text-center font-weight-bold">{{sv.tong_diemdanhgia_hoidongtruong}}</td>
                </ng-template>

                <!-- ______________________________________________________________________ -->

                <td class="text-center font-weight-bold">
                  <span [ngSwitch]="quyentk">
                    <p *ngSwitchCase="3">
                      <ng-container *ngIf="sv.trangthai_cvht === 0; else elseTemplate10">
                        <span matTooltip="Đánh giá chi tiết">
                          <a [routerLink]="[ '/trangchu/canbo/cvht/danhgia/', sv.id_sv ]">
                            <i class="fas fa-edit"></i>
                          </a>
                        </span>
                      </ng-container>
                      <ng-template #elseTemplate10>
                        <span matTooltip="Xem chi tiết lịch sử đánh giá">
                          <a (click)="openXemChiTietDanhGia(sv)">
                            <i class="fas fa-eye"></i>
                          </a>
                        </span>
                        <span matTooltip="Chỉnh sửa đánh giá">
                          <a [routerLink]="['/trangchu/canbo/cvht/chinhsuadanhgia/', sv.id_sv]">
                            <i class="fas fa-edit"></i>
                          </a>
                        </span>
                      </ng-template>
                    </p>
                    <p *ngSwitchCase="4">
                      <ng-container *ngIf="sv.trangthai_hoidongkhoa === 0; else elseTemplate10">
                        <span matTooltip="Đánh giá chi tiết">
                          <a [routerLink]="[ '/trangchu/canbo/hoidongkhoa/danhgia/', sv.id_sv ]">
                            <i class="fas fa-edit"></i>
                          </a>
                        </span>
                      </ng-container>
                      <ng-template #elseTemplate10>
                        <span matTooltip="Xem chi tiết lịch sử đánh giá">
                          <a (click)="openXemChiTietDanhGia(sv)">
                            <i class="fas fa-eye"></i>
                          </a>
                        </span>
                        <span matTooltip="Chỉnh sửa đánh giá">
                          <a [routerLink]="['/trangchu/canbo/hoidongkhoa/chinhsuadanhgia/', sv.id_sv]">
                            <i class="fas fa-edit"></i>
                          </a>
                        </span>
                      </ng-template>
                    </p>
                    <p *ngSwitchCase="5">
                      <ng-container *ngIf="sv.trangthai_hoidongtruong === 0; else elseTemplate10">
                        <span matTooltip="Đánh giá chi tiết">
                          <a [routerLink]="[ '/trangchu/canbo/hoidongtruong/danhgia/', sv.id_sv ]">
                            <i class="fas fa-edit"></i>
                          </a>
                        </span>
                      </ng-container>
                      <ng-template #elseTemplate10>
                        <span matTooltip="Xem chi tiết lịch sử đánh giá">
                          <a (click)="openXemChiTietDanhGia(sv)">
                            <i class="fas fa-eye"></i>
                          </a>
                        </span>
                        <span matTooltip="Chỉnh sửa đánh giá">
                          <a [routerLink]="['/trangchu/canbo/hoidongtruong/chinhsuadanhgia/', sv.id_sv]">
                            <i class="fas fa-edit"></i>
                          </a>
                        </span>
                      </ng-template>
                    </p>
                    <p *ngSwitchCase="7">
                      <span matTooltip="Xem chi tiết lịch sử đánh giá">
                        <a (click)="openXemChiTietDanhGia(sv)">
                          <i class="fas fa-eye"></i>
                        </a>
                      </span>
                    </p>
                  </span>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
          nextLabel="Trang Sau"></pagination-controls>
      </div>
    </mat-card>

  </section>
</div>
<app-backtotop></app-backtotop>
