<h4 class="font-weight-bold text-center text-uppercase">CẬP NHẬT THỜI GIAN KẾT THÚC HIỆU LỰC CỦA QUYẾT ĐỊNH {{data.maquyetdinh}}</h4>
<hr>
<mat-form-field class="col-md-12">
  <input matInput [matDatepicker]="picker" placeholder="Thời gian kết thúc hiệu lực" [formControl]="tgketthuchieuluc" required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi="true" #picker startView="multi-year"></mat-datepicker>
</mat-form-field>
<div class="row d-flex justify-content-md-end">
  <button mat-button (click)="onCancel()">Hủy</button>
  <button type="submit" mat-raised-button color="primary" [disabled]="tgketthuchieuluc.invalid" (click)="capNhatTGkKetThuc()">Cập Nhật</button>
</div>
