<h4 class="font-weight-bold">XÁC NHẬN</h4>
<hr>
<h6>
  {{message}} 
  <span *ngIf="name !== null" class="font-weight-bold">"{{name}}" ?</span>
</h6>
<hr>
<div class="row d-flex justify-content-end">
  <button mat-button (click)="dialogRef.close()">Hủy</button>
  <button class="btn btn-md btn-warning waves-light" (click)="confirmSelection()" autoFocus>Đồng Ý</button>
</div>
