<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <h2 class="font-weight-bold">THÊM KHOA MỚI</h2>
  <hr>
  <div class="row">
    <div class="col-md-5 mx-auto">
      <mat-card>
        <h4 class="font-weight-bold">Thông tin cơ bản của khoa mới</h4>
        <form [formGroup]="infoKhoa_Form">
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Mã Khoa" maxlength="10" #makhoa required formControlName="makhoa">
            <mat-hint align="start">
              <strong>Tối đa 10 chữ số</strong>
            </mat-hint>
            <mat-hint align="end">{{makhoa.value.length}} / 10</mat-hint>
            <mat-error *ngIf="infoKhoa_Form.controls.makhoa?.errors?.required && infoKhoa_Form.controls.makhoa?.touched">
              <strong>Mã khoa không được bỏ trống</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Tên Khoa" required formControlName="tenkhoa">
            <mat-error *ngIf="infoKhoa_Form.controls.tenkhoa?.errors?.required && infoKhoa_Form.controls.tenkhoa?.touched">
              <strong>Tên khoa không được bỏ trống</strong>
            </mat-error>
          </mat-form-field>
          <div class="row d-flex justify-content-md-end" id="btn-khoaform">
            <button mat-button (click)="onCancel()">Hủy</button>
            <button type="submit" [disabled]="infoKhoa_Form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Thêm</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
