<div class="row">
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <div class="col-md-12">
    <mat-card>
      <a [routerLink]="[ '/trangchu/quanly/quanlythongbao/themthongbao']" class="btn btn-md btn-danger">
        <i class="fa fa-plus" aria-hidden="true"></i> Thêm thông báo</a>
      <h2 class="font-weight-bold">DANH SÁCH THÔNG BÁO ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h2>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
            <th scope="col" class="text-center font-weight-bold" width="20%">Học Kỳ</th>
            <th scope="col" class="text-center font-weight-bold" width="30%">Tiêu Đề</th>
            <th scope="col" class="text-center font-weight-bold" width="10%">Trạng Thái</th>
            <th scope="col" class="text-center font-weight-bold" width="20%">Cán Bộ Đăng</th>
            <th scope="col" class="text-center font-weight-bold" width="15%">Quản Lý</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tb of DanhSachThongBao | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
            <td class="text-center font-weight-bold">{{i+1}}</td>
            <td class="text-center font-weight-bold">{{tb.mahocky}} | {{tb.manamhoc}}</td>
            <td class="text-left font-weight-bold">{{tb.tieude}}</td>
            <ng-container *ngIf="tb.trangthai === 1; else elseTemplate2">
              <td class="text-center font-weight-bold">
                <a (click)="openDialog2(tb.id, tb.trangthai, tb.tieude)">
                  <span matTooltip="Thông báo đang được đăng">
                    <img class="iconEdit_Delete" src="assets/images/unlock.svg" alt="">
                  </span>
                </a>
              </td>
            </ng-container>
            <ng-template #elseTemplate2>
              <td class="text-center font-weight-bold">
                <a (click)="openDialog2(tb.id, tb.trangthai, tb.tieude)">
                  <span matTooltip="Thông báo đã bị ẩn">
                    <img class="iconEdit_Delete" src="assets/images/lock.svg" alt="">
                  </span>
                </a>
              </td>
            </ng-template>
            <ng-container *ngIf="tb.hotencanbo === null; else elseTemplate3">
              <td class="text-center font-weight-bold">Administrator</td>
            </ng-container>
            <ng-template #elseTemplate3>
              <td class="text-left font-weight-bold">{{tb.hotencanbo}}</td>
            </ng-template>
            <td class="text-center font-weight-bold">
              <a [routerLink]="['/trangchu/quanly/quanlythongbao/suathongbao/', tb.id]">
                <span matTooltip="Sửa thông tin ">
                  <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                </span>
              </a>
              <a (click)="openDialogDelete(tb.ib)">
                <span matTooltip="Xóa thông tin ">
                  <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                </span>
              </a>
            </td>
          </tr>
          <td class="text-center font-weight-bold" *ngIf="DanhSachThongBao.length === 0" colspan="16" style="font-size: 20px;">Chưa có thông báo nào !!!</td>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Trang Trước"
          nextLabel="Trang Sau"></pagination-controls>
      </div>
    </mat-card>
  </div>
</div>
<app-backtotop></app-backtotop>
