<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <h2 class="font-weight-bold">THÊM NGÀNH MỚI</h2>
  <hr>
  <div class="row">
    <div class="col-md-5 mx-auto">
      <mat-card>
        <h4 class="font-weight-bold">Thông tin cơ bản của ngành mới</h4>
        <form [formGroup]="infoNganh_Form">
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Mã Ngành" maxlength="10" #manganh required formControlName="manganh">
            <mat-hint align="start">
              <strong>Tối đa 10 chữ số</strong>
            </mat-hint>
            <mat-hint align="end">{{manganh.value.length}} / 10</mat-hint>
            <mat-error *ngIf="infoNganh_Form.controls.manganh?.errors?.required && infoNganh_Form.controls.manganh?.touched">
              <strong>Mã ngành không được bỏ trống</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Tên Ngành" required formControlName="tennganh">
            <mat-error *ngIf="infoNganh_Form.controls.tennganh?.errors?.required && infoNganh_Form.controls.tennganh?.touched">
              <strong>Tên ngành không được bỏ trống</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Danh sách khoa" required>
              <mat-option>---</mat-option>
              <mat-option value="{{khoa.id}}" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachBoMon(khoa.id)">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
            <mat-error *ngIf="infoNganh_Form.controls.tructhuoc?.errors?.required && infoNganh_Form.controls.tenbomon?.touched">
              <strong>Chọn khoa </strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select formControlName="id_bomon_donvi" placeholder="Trực Thuộc Bộ Môn" required>
              <mat-option>---</mat-option>
              <mat-option value="{{bm.id}}" *ngFor="let bm of DanhSachBoMon">{{bm.tenbomon}}</mat-option>
            </mat-select>
            <mat-error *ngIf="infoNganh_Form.controls.id_bomon_donvi?.errors?.required && infoNganh_Form.controls.id_bomon_donvi?.touched">
              <strong>Chọn bộ môn trực thuộc</strong>
            </mat-error>
          </mat-form-field>
          <div class="row d-flex justify-content-md-end" id="btn-khoaform">
            <button mat-button (click)="onCancel()">Hủy</button>
            <button type="submit" [disabled]="infoNganh_Form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Thêm</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</mat-card>
<app-backtotop></app-backtotop>
