<mat-card>
  <a class="btn btn-sm btn-success" (click)="backBtn()">
    <i class="fas fa-angle-double-left"></i> Trở lại</a>
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <h2 class="font-weight-bold">LỌC</h2>
        <hr>
        <h4 class="font-weight-bold">Lọc theo:</h4>
        <mat-radio-group [(ngModel)]="loaiLoc" (change)="reset()">
          <mat-radio-button [value]="1" [checked]>Tất cả</mat-radio-button>
          <br>
          <mat-radio-button [value]="2">Trực thuộc khoa</mat-radio-button>
        </mat-radio-group>
        <div [hidden]="loaiLoc !== 2">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Danh Sách Khoa" required [formControl]="dskhoa_control">
              <mat-option>---</mat-option>
              <mat-option [value]="khoa.id" *ngFor="let khoa of DanhSachKhoa" (click)="getDanhSachBoMon(khoa.id)">{{khoa.tenkhoa}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dskhoa_control.hasError('required')">Vui lòng chọn khoa !!!</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-select [(ngModel)]="id_bomon" [formControl]="dsbomon_control" placeholder="Trực Thuộc Bộ Môn" required>
              <mat-option>---</mat-option>
              <mat-option value="{{bm.id}}" *ngFor="let bm of DanhSachBoMon">{{bm.tenbomon}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dsbomon_control.hasError('required')">Vui lòng chọn bộ môn !!!</mat-error>
          </mat-form-field>
        </div>
        <br>
        <button class="btn btn-md btn-primary" [disabled]="id_bomon === null" (click)="locDanhSach()">Xem</button>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card>
        <a class="btn btn-md btn-success" [routerLink]="[ '/trangchu/quanly/quanlycovanhoctap/themcovanhoctap' ]">
          <i class="fa fa-plus" aria-hidden="true"></i> Thêm cố vấn học tập cho lớp</a>
        <h2 class="font-weight-bold">DANH SÁCH CÁC CỐ VẤN HỌC TẬP</h2>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Tìm kiếm" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr class="table-primary">
              <th scope="col" class="text-center font-weight-bold" width="5%">#</th>
              <th scope="col" class="text-center font-weight-bold" width="15%">Mã Cán Bộ</th>
              <th scope="col" class="text-center font-weight-bold" width="25%">Họ Tên</th>
              <th scope="col" class="text-center font-weight-bold" width="10%">Lớp</th>
              <th scope="col" class="text-center font-weight-bold" width="15%">Học Kỳ Bắt Đầu</th>
              <th scope="col" class="text-center font-weight-bold" width="15%">Học Kỳ Kết Thúc</th>
              <th scope="col" class="text-center font-weight-bold" width="15%">Quản Lý</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cvht of DanhSachCoVanHocTap | hotencanboMacanboFilter: search | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
              <td class="text-center font-weight-bold">{{i+1}}</td>
              <td class="text-center ">{{cvht.macanbo}}</td>
              <td class="text-center ">{{cvht.hotencanbo}}</td>
              <td class="text-center ">{{cvht.tenlop}}</td>
              <td class="text-left ">{{cvht.hockybatdau}} - {{cvht.namhocbatdau}}</td>
              <td class="text-left ">{{cvht.hockyketthuc}} - {{cvht.namhocketthuc}}</td>
              <td class="text-center font-weight-bold ">
                <a [routerLink]="[ '/trangchu/quanly/quanlycovanhoctap/suacovanhoctap/', cvht.id ] ">
                  <span matTooltip="Sửa thông tin ">
                    <img class="iconEdit_Delete" src="assets/images/edit.svg" alt="">
                  </span>
                </a>
                <a (click)="openDialog(cvht.id, cvht.hotencanbo, cvht.id_lop, cvht.tenlop)">
                  <span matTooltip="Xóa thông tin ">
                    <img class="iconEdit_Delete" src="assets/images/delete.svg" alt="">
                  </span>
                </a>
              </td>
            </tr>
            <td class="text-center font-weight-bold" *ngIf="(DanhSachCoVanHocTap | hotencanboMacanboFilter: search).length === 0" colspan="7"
              style="font-size: 20px;">Không có cán bộ nào được tìm thấy !!!</td>
          </tbody>
        </table>
        <div class="row justify-content-center ">
          <pagination-controls (pageChange)="p = $event" maxSize="9 " directionLinks="true " autoHide="true " previousLabel="Trang
          Trước " nextLabel="Trang Sau "></pagination-controls>
        </div>
      </mat-card>
    </div>
  </div>
</mat-card>

<app-backtotop></app-backtotop>
